
//ABOUT SECTION
.about{
.why-we-are{
  background-color:$bgabout;
  ul{
    padding-bottom:10px;
  }
}
.wwa-title{
  display:block;
  text-align: center;
  background-color: $bgColorPrimaryDark;
  color:$bgwhite;
  padding: 15px 0px 15px 0px;
  font-size:24px;
}

.gbg{
  background-color:$bgColorPrimaryLight;
  color:$bgwhite;
  ul{
    padding-bottom:10px;
  }
  li:before{
    color:$bgwhite;
  }
}

.why-btn{
  text-align: center;
  text-decoration: none;
}

.ab-ul{
  margin-bottom: 10px;
}
span{
  padding-left:20px;
  padding-top:10px;
  color:$black;

}
.ab-form{
  padding:20px 70px;
}

.ab-form input, .ab-form textarea{
  width:100%;
  resize: none;
  margin-bottom:15px;
  padding:10px;
  color:#777;
}
  a.btn-small{
    float:right;
    background-color: $bgColorSecondary;
  }
  a.btn-small:hover {
    background-color: $bglhbutton;
  }

}

.bg-silver{
  margin-top: 50px;
  background-color:$bgabout;
  padding:0;

  span.telo{
    font-family:$font-regular;
    display: inline-block;
    color:#002157;
    font-size:20px;
  }
  .a-btn{
    margin-left:23px;
    padding-top:20px;
    padding-bottom:20px;
  }
}
