.discount{
  .red-title{
    color:$bgColorSecondary;
    margin: 0px 0px 20px 0px;
  }
  .first-order{
    background-color: $bgColorSecondary;
    padding:22px 0px;
    text-align: center;
    span{
      display: inline-block;
      color:white;
      font-size:55px;
      font-family:$font-bold;

      text-shadow: 1px 1px 3px #000000;
    }
  }
  .disc-img{
    position: relative;
    top:-16px;
    left:5px;
    display: inline-block;
    float:left;
  }
  .dis{
    background-image: url(../img/discount.png);
    width:278px;
    height:87px;
   .number{
     position: relative;
     top:-6px;
     font-size:55px;
     font-family:$font-bold;
     color: $bgColorSecondary;
     padding-left:127px;
     text-shadow: 1px 1px 3px #000000;
   }
    .num{
      padding-left:117px;
    }
    .num-text{
      position: relative;
      top:-27px;
      display: inline-block;
      padding-left:136px;
      font-size:20px;
      font-family:$font-regular;
      text-transform: uppercase;
    }
  }

  .mb{
    margin-bottom: 10px;
  }

}