.faq{
  /* Style the buttons that are used to open and close the accordion panel */
 .btn-aco
  {
    width:100%;
    padding:10px;
    font-size:18px;
   font-family:$font-regular;
    margin-bottom:20px;
    display:block;
    border:1px solid #ddd;
    outline:none;
    text-align:left;
    color:white;
    background:$bgColorPrimaryDark ;
  }



  .con-aco
  {
    background-color:#eaedf2;
    margin-top:-20px;
    margin-bottom:20px;
    font-size:14px;
    display:none;
    border:inherit;
    width:100%;
    padding:20px
  }
}