.h-i-works{
  .HiW-blox{
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 1px solid #cccccc;
    background-color: #e84c3d;
    text-align: center;
    &:before{
      content: '';
      display: inline-block;
      width: 14px;
      height: 14px;
      border: 1px solid #333333;
      background-color: $bgColorPrimaryDark;
      border-radius: 50%;
      position: relative;
      top: 26px;
      left: 107px;
    }
    &:after{
      content: '';
      display: inline-block;
      width: 68px;
      height: 2px;
      background-color:#666;
      position: relative;
      right: -67px;
    }
  }

  .cube{
    padding-top:13px;
  }
  .bg-title-l{
    text-align: center;
    background-color: $bgColorPrimaryLight;
    color:$bgwhite;
    padding: 15px 0px 15px 0px;
    font-size:24px;
    margin-bottom: 20px;
  }
.beware{

  border:1px solid $border;
}
  ul {
    padding: 0;
    .gray{
      background-color: $border;
    }
    li{
      padding:10px 20px;
    }
    li:before {
      content: "\f00c";
      font-family: Fontawesome;
      padding-right: 5px;
      font-size: 18px;
    }

  }
}