//Home Page
.phones-up{
  background-color: $bgColorPrimaryDark;
  height:51px;
}

//Styles for Phones on top
.t-tel{
    color: #ffffff;
    font-family:$font-regular;
    font-size: 130%;
    font-weight: 400;
    margin-top:10px;
  }

.t-soc{
  color: #ffffff;
  font-family:$font-regular;
  font-size: 18px;
  font-weight: 400;
  margin-top:7px;

}
.join{
  float:right;
}
.soc{
  display: inline-block;
  margin-top:7px;
}

.skype{
  color:#fff;
  font-size:24px;
}
//MENU SECTION

.head-nav{
  padding-top:20px;
  padding-bottom:20px;
}

nav{
  padding-top:2%;
  float:right;
}
.logo {
   img {
    width: 100%;
    height: auto;
   }
}

.top-menu{padding:0;}

.menu{
    font-family:$font-bold;
    padding-top:20px;
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 700;
    color: $bgTitle ;
}
   a.m-link {
    color: $bgTitle;
    text-transform: uppercase;
     margin-left: 10px;
      }
    a.m-link:hover {
    color: $bgColorSecondary;
    border-bottom: 4px solid $bgColorSecondary;
    padding-bottom: 10px;
      text-decoration: none;
   }
    a.m-link:active {
    color: $bgColorSecondary;
    border-bottom: 4px solid $bgColorSecondary;
    padding-bottom: 10px;
      text-decoration: none;
   }

//BOY SECTION
.boy{
  background-color: $bgColorPrimaryLight;
  //height:469px;
}
.bgboy{
  position: relative;
  z-index: 2;
  width: 100%;
  height: 469px;
  background-image: url(../img/boy.png), url(../img/books.png), url(../img/light.png);
  background-position: bottom -6px left, bottom 0px right, bottom -80px right 145px;
  background-size: 488px 322px, 188px 390px, 670px 431px;
  background-repeat: no-repeat, no-repeat, no-repeat;

}
.buttons{
  margin-top:33px;
  float:right;
  margin-right: 180px;
    }
.chat{
  margin-top:72px;
}
.chat a:hover{
  text-decoration: none;
}
.buttons a:hover{
  text-decoration: none;
}
.in-b{
  display: inline-block;
}
.boy-title{
  margin-top: 60px;
  margin-left:40px;
  display: inline-block;
  font-family:$font-bold;
  color: $bgwhite;
  font-size: 52px;
  font-weight: 700;
  line-height: 84.24px;
  text-transform: uppercase;
}
.bsub-title{
  margin-top: 20px;
  margin-left:182px;
  color: #ffffff;
  font-family: $font-semibold;
  font-size: 36px;
  font-weight: 400;
  line-height: 9.53px;
  text-transform: uppercase;
}

.bdes-title{
  margin-top: 60px;
  margin-left:152px;
  font-family: $font-light;
  color: $bgTitle;
  font-size: 27px;
  font-weight: 300;
  line-height: 10.85px;
  text-transform: uppercase;
}

.bdescription{
  margin-top: 23px;
  margin-left:152px;
  width: 378px;
  height: 43px;
  font-family: $font-light;
  color: $bgTitle;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
}


//social buttons



.icon {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  margin: 4px;
  width: 29px;
  height: 30px;
  font-size: 0;
  text-indent: -9999px;
}
.icon-cube {
  position: relative;
  -webkit-perspective: 400px;
  perspective: 400px;
  overflow: visible;
}
.icon-cube::before,
.icon-cube::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
  background: url("../img/icons5.png");
  //background-image: url("../img/icons5.svg"), none;

  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.icon-cube::before {
  z-index: 2;
  background-color: #595959;
}
.icon-cube::after {
  z-index: 1;
  opacity: 0;
  -webkit-transform: translateY(18px) rotateX(-60deg);
  transform: translateY(18px) rotateX(-160deg);
}

.icon-cube:hover::before {
  opacity: 0;
  -webkit-transform: translateY(-28px) rotateX(60deg);
  transform: translateY(-18px) rotateX(60deg);
}

.icon-cube:hover::after {
  opacity: 1;
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
}

/* facebook */
.icon-cube.facebook::before,
.icon-cube.facebook::after {
  background-position: -5px -5px;
  content: "\f09a";
  //font-family:$font-fontawesome;
}

.icon-cube.facebook::after {
  background-color: $bgFacebook;

}

/* twitter */
.icon-cube.twitter::before,
.icon-cube.twitter::after {
  background-position: -50px -5px;
  content: "\f099";
}

.icon-cube.twitter::after {
  background-color: $bgTwitter;

}

/* pinterest */
.icon-cube.pinterest::before,
.icon-cube.pinterest::after {
  background-position: -94px -5px;
  content: "\f231";
}

.icon-cube.pinterest::after {
  background-color: $bgPinterest;

}
//Discounts Section

.t-dis{
  color: $bgwhite;
  font-family:$font-regular;
  font-size: 18px;
  font-weight: 400;
  margin-top:12px;
  display: inline-block;
}

.t-disb{
  margin-top:15px;
  display: inline-block;
}
.discounts{
  background-color: $bgColorPrimaryDark;
  height:51px;


  .bolder{
    font-family:$font-bold;

  }
}





a.btn-small{
  color:$bgwhite;
  text-transform: uppercase;
  font-family: $font-light;
  border:1px solid $bgwhite;
  padding:9px 55px 7px 55px;
}

a.btn-small:hover{
  background-color: $bgColorSecondary;
  color:$bgwhite;
  text-transform: uppercase;
  font-family: $font-light;
  text-decoration: none;

}

a.btn-small:focus{
  color:$bgwhite;
  text-transform: uppercase;
  font-family: $font-light;
  text-decoration: none;
}

//OUR ADVANTAGES

.o-advan{
  text-align: center;
  text-transform: uppercase;
}
p.o-text{
  text-align: justify;
  color:$bgText;
}


a.ad{
  background-color: $bgColorPrimaryLight;
  text-decoration: none;
  text-align:center;
  color:$bgAd;
  padding-top:40px;
  display:block;
  text-transform: uppercase;
  //width:374px;
  height:162px;
}

a:hover.ad{
  background-color:$bgColorSecondary;
  text-decoration: none;
  text-align:center;
  color:$bgwhite;
  display: block;
  text-transform: uppercase;
  height:162px;
  .icon-ad-icon{
    background-position: 0px -3723px;
  }
  .icon-ad-icon2{
    background-position: 0px -3189px;
  }
  .icon-ad-icon3{
    background-position: 0px -6401px;
  }
  .icon-ad-icon4{
    background-position: 0px -1589px;
  }
  .icon-ad-icon5{
    background-position: 0px -4257px;
  }
  .icon-ad-icon6{
    background-position: 0px -5327px;
  }


}

.tee{

  margin-top: 50px;
}
.tee-g{
  margin-top: 25px;
}


//COMPANY NAME SECTION


.o-left{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: justify;
  font-size: 14px;
  font-weight: 300;
  line-height: 24.39px;
  color:$bgText;
  column-width: 200px;
  column-count: 2;
  column-gap: 30px;
}


//HOW IT WORKS SECTION
.howit{
  background-color: $bgColorPrimaryLight;
  height:200px;
}

.howtitle{
    color:$bgwhite;
    font-size:36px;
    margin-top:81px;
    display:block;
  text-align: center;
}

//READ MORE SECTION
.rm{
  text-align: center;
}

.tx-just{
  text-align: justify;
  padding-left:0;
  color: $bgText;
  font-family:$font-light;
  font-size: 14px;
  font-weight: 300;
  line-height: 24.39px;
}
.rm-pos{
  display: inline-block;
  margin-left:30%;
}
.btrm {
  display: inline-block;
  text-align: center;
  color:$bgwhite;
  background-color:$bgColorPrimaryDark;
  border:none;
  border-radius:3px;
  width: 188px;
  font-family:$font-semibold;
  font-size: 18px;
  font-weight: 400;
  line-height: 9.53px;
  text-transform: uppercase;
  margin-top:10%;
  padding-top:20px;
  padding-bottom:20px;



}
a.btrm:hover{
  display: inline-block;
  color:$bgwhite;
  background-color:$bgColorSecondary;
  text-decoration: none;
  border-radius:3px;
  width: 188px;
  height: 53px;
  font-family:$font-semibold;
  font-size: 18px;
  font-weight: 400;
  line-height: 9.53px;
  text-transform: uppercase;
}
a.btrm:before{
  content:"\f105";
  font-family:$font-fontawesome;
  font-size:25px;
  color:$bgwhite;
}

//FOOTER SECTION

.foo-up{
  background-color: $bgColorPrimaryDark;
  margin-top:50px;
}
.foo-down{
  background-color: $bgFooter;
  height:73px;
}
.foo-logo{
  width:300px;
  height:97px;
  border: 2px solid #ffffff;
  background-color: #ccd3dd;
  margin-top:23px;
  img{
    padding-left:40px;
    padding-top:12px;
  }
}
.foo-call{
  margin-top:12px;
  margin-bottom:20px;
  padding-left:21px;

}
.foo-cont{
  display: inline-block;
  text-align: center;
  color: $bgwhite;
  font-family:$font-regular;
   a{
     color: $bgwhite;

   }
}
.foo-des{
  max-height: 168px;
  position: relative;
  margin-top:23px;
  margin-left:20px;
  border: 2px solid #eaedf2;
  font-family:$font-regular;
  font-size: 12px;
  font-weight: 300;
  line-height: 17.56px;
  padding:25px 33px 30px 29px;
  p{
    color: white;
    line-height: inherit;
    font-size: inherit;
    margin: 0;
    margin-bottom: 18px;
    text-overflow: clip;
    overflow: hidden;
    max-height: 122px;

  }
}
.foo-des-opened {
  max-height: none;
  margin-bottom: 20px;
  P {
    max-height: none;
  }
  .foo-btn {
    a {
      background-color:$bgColorSecondary ;
      &:before {
        content: "\f106";
        font-family: $font-fontawesome;
        vertical-align: middle;
      }
    }
  }
}
.foo-btn{
  position:absolute;
  bottom:-15px;
  left:92.5%;

  a{
    border: 1px solid #cccccc;
    background-color:$bgColorPrimaryLight ;
    display: inline-block;
    width: 32px;
    height: 32px;
    color:$bgwhite;
    font-size:25px;
    text-align: center;
    cursor:pointer;
    text-decoration: none;
    &:before{
      content: "\f107";
      font-family:$font-fontawesome;
      vertical-align: middle;
    }
    &:hover{
      background-color:$bglhbutton;
    }

  }
}

.fbtn{margin-top:4px;}

.foo-join{
  color:$bgwhite;
  padding-top:13px;
  height:70px;
}
.foo-soc{
  margin-top:12px;
  padding-right:42px;
  display: inline-block;
  font-family:$font-regular;
  font-size: 14px;
  font-weight: 400;
  //line-height: 100px;
  /* Text style for "Join us:" */
  letter-spacing: 0.35px;
}

.foo-cop{
  text-align: center;
  color:$bgwhite;
  margin-top:12px;
  padding-top:12px;
  font-family:$font-regular;
  font-size: 14px;
  font-weight: 400;
  /* Text style for "Join us:" */
  letter-spacing: 0.35px;
  a{
    color:$bgwhite;

  }
}

.bee{
  position:absolute;
  left:14%;

}
.bee-img{
  height:285px;
  width:700px;
}



// ICONS sprites

.icon-call {
  background-image: url(../img/sprites/sprite.png);
  background-position: 0px -527px;
  width: 36px;
  height: 30px;
  margin-top: 0;
}
.icon-toll {
  background-image: url(../img/sprites/sprite.png);
  background-position: 0px 0px;
  width: 35px;
  height: 27px;
}

.icon-ad-icon {
  background-image: url(../img/sprites/sprite.png);
  background-position: 0px -2655px;
  width: 22px;
  height: 34px;
}

.icon-ad-icon2 {
  background-image: url(../img/sprites/sprite.png);
  background-position: 0px -2121px;
  width: 33px;
  height: 34px;
}

.icon-ad-icon3 {
  background-image: url(../img/sprites/sprite.png);
  background-position: 0px -6941px;
  width: 24px;
  height: 40px;
}

.icon-ad-icon4 {
  background-image: url(../img/sprites/sprite.png);
  background-position: 0px -1057px;
  width: 26px;
  height: 32px;
}

.icon-ad-icon5 {
  background-image: url(../img/sprites/sprite.png);
  background-position: 0px -4792px;
  width: 33px;
  height: 35px;
}

.icon-ad-icon6 {
  background-image: url(../img/sprites/sprite.png);
  background-position: 0px -5864px;
  width: 38px;
  height: 37px;
}

//burger


.burger {

  margin-top:-15px;
  float:right;
  padding:1px;
  border:0;
  outline:0;
  background-color:transparent;
  height:50px;
  width:50px;
  z-index:9999;
  .bar {
    height:2px;
    width:100%;
    background-color:$bgColorPrimaryLight;
    display:inline-block;
    border-radius:2px;
    transition:all 0.3s;
  }
}

.focus {
    .bar {
    transition:all 0.3s;
    background-color:$bgColorPrimaryDark;
    &:first-of-type {
      transition-delay:0.4s;
      transform: translate3d(0px, 0px, 0px) rotateZ(-45deg);
      width:40px;
      transform-origin:right bottom;
    }
    &:nth-of-type(2) {
      opacity:0;
      transform:translate3d(-20px,0px,0px);
    }
    &:last-of-type {
      transition-delay:0.4s;
      transform: translate3d(0px, 0px, 0px) rotateZ(45deg);
      width:40px;
      transform-origin:right top;
    }
  }
}

.content {
  position:absolute;
  top:65px;
  z-index:5;
  width:100%;
  opacity:0;
  transition:all 0.7s;
}

.navigation {
  display: flex;
  flex-direction: column;
  height: 50px;
  list-style-type:none;
  padding-left:0px;
  text-align:center;
  margin:0;
  a {
    color:$bgwhite;
    text-decoration:none;
    &:hover {
      color:darken($bgColorPrimaryDark,10%);
      border:0;
    }
  }
  li {
    font-size:18px;
    font-family:$font-bold;
    font-weight:400;
    transition:all 0.7s;
    transform:translate3d(-50%, 0px,  0px);
    display:inline-block;
    text-align: center;
    width:100%;
    height:47px;
    line-height:50px;
    position:relative;
  }
}

.show {
  left:0;
  top:65px;
  opacity:1;
  .navigation {
    li {
      transition:all 0.7s;
      transform:translate3d(0px, 0px, 0px);
      &:nth-child(1) {
        background-color:$bgColorPrimaryLight;
        transition-delay:0.1s;
      }
      &:nth-child(2) {
        background-color:darken($bgColorPrimaryLight,2%);
        transition-delay:0.2s;
      }
      &:nth-child(3) {
        background-color:darken($bgColorPrimaryLight,4%);
        transition-delay:0.3s;
      }
      &:nth-child(4) {
        background-color:darken($bgColorPrimaryLight,6%);
        transition-delay:0.4s;
      }
      &:nth-child(5) {
        background-color:darken($bgColorPrimaryLight,8%);
        transition-delay:0.5s;
      }
      &:nth-child(6) {
        background-color:darken($bgColorPrimaryLight,10%);
        transition-delay:0.6s;
      }
      &:nth-child(7) {
        background-color:darken($bgColorPrimaryLight,12%);
        transition-delay:0.7s;
      }
      &:nth-child(8) {
        background-color:darken($bgColorPrimaryLight,14%);
        transition-delay:0.8s;
      }
      &:nth-child(9) {
        background-color:darken($bgColorPrimaryLight,16%);
        transition-delay:0.9s;
      }
      &:nth-child(10) {
           background-color:darken($bgColorPrimaryLight,18%);
           transition-delay:1.0s;
         }
      &:nth-child(11) {
        background-color:darken($bgColorPrimaryLight,20%);
        transition-delay:1.1s;
      }
    }
  }
}

//HEADER FOR PAGES

.main-title{
  background-color: $bgColorPrimaryLight;
  color:$bgwhite;
  text-align: center;
  padding:1%;
  font-family:$font-semibold;
  font-size:36pt;
}

// HOW IT works

.h-i-w{
  span{
    @include font(36px, #fff, 400, $font-regular);
    display: block;
    text-align: center;
    padding-bottom:50px;
  }
  padding : 50px 0;
  .HiW-block{
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 1px solid #cccccc;
    background-color: #e84c3d;
    text-align: center;
    &:before{
      content: '';
      display: inline-block;
      width: 14px;
      height: 14px;
      border: 1px solid #333333;
      background-color: $bgColorPrimaryDark;
      border-radius: 50%;
      position: relative;
      top: 13px;
      left: 2px;
    }
    &:after{
      content: '';
      display: inline-block;
      width: 2px;
      height: 63px;
      background-color:#666;
      margin-top: 68px;
      position: relative;
      right: 6px;
    }
  }

  .HiW-block-d{
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 1px solid #cccccc;
    background-color: #e84c3d;
    text-align: center;
    margin-top:68px;
    z-index:3;

    &:before{
      content: '';
      display: inline-block;
      width: 14px;
      height: 14px;
      border: 1px solid #333333;
      background-color:$bglhbutton;
      border-radius: 50%;
      position: relative;
      top: -132px;
      left: 2px;
      z-index:2;
    }
    &:after{
      content: '';
      display: inline-block;
      width: 2px;
      height:70px;
      background-color:#666;
      bottom:69px;
      position: relative;
      right: 6px;
      z-index:1;
    }
  }

  .HiW-text{
    @include font(16px, $black, 400, $font-regular);
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    margin-left: 10px;
  }

  .HiW-text-d{
    @include font(16px, $black, 400, $font-regular);
    text-transform: uppercase;
    display: inline-block;
    vertical-align: bottom;
    margin-top: 15px;
    margin-left: 10px;
  }

  .border-bottom{
    border-bottom: 1px dashed #666;
  }
  .HiW-block-center{
    text-align: center;
  }
  .HiW-block-right{
    text-align: right;
    .round-green{
      margin: -6px 184px -7px;
    }
  }
}

.icon-pic1 {
  background-image: url(../img/sprites/spritel.png) ;
  background-position: 23px -1557px;
  background-repeat: no-repeat;
  width: 21px;
  height: 31px;
}
.icon-pic2 {
  background-image: url(../img/sprites/spritel.png);
  background-position: 23px -2087px;
  background-repeat: no-repeat;
  width: 26px;
  height: 38px;
}
.icon-pic3 {
  background-image: url(../img/sprites/spritel.png);
  background-position: 19px 21px;
  background-repeat: no-repeat;
  width: 30px;
  height: 20px;
}
.icon-pic4 {
  background-image: url(../img/sprites/spritel.png);
  background-position: 21px -500px;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}
.icon-pic5 {
  background-image: url(../img/sprites/spritel.png);
  background-position: 19px -1025px;
  background-repeat: no-repeat;
  width: 29px;
  height: 29px;
}

