.login{
  .bgtitle{
    text-align: center;
    background-color: $bgColorPrimaryDark;
    color:$bgwhite;
    padding: 15px 0px 15px 0px;
    font-size:24px;
    margin-top: 70px;
  }
  .log-form{
    background-color:$bgColorPrimaryLight;
    padding:37px 20px;
    input{
      display: block;
      width:85%;
      padding:10px 5px;
      margin:17px 38px 17px 38px;

    }
    a ,.forgot{
      display: inline-block;
      padding-left:19px;
      margin-top:10px;
      color:$bgTitle;
      text-decoration: underline;
    }
    .btn-login{
      float:right;
      padding-right:38px;
      margin-top:14px;
      display: inline-block;
      font-size:18px;
      font-family:$font-regular;
      text-transform: uppercase;
      :before{
        content: "\f105";
        font-family:$font-fontawesome;
        font-size:22px;
      }
      a{
        border:1px solid white;
        border-radius: 3px;
        padding: 12px 50px;
        background-color: $bgColorSecondary;
        color:$bgwhite;
        text-decoration: none;
      }
      a:hover{
        background-color: $bgColorPrimaryDark;
        text-decoration: none;
      }
    }
  }

}