.order-form{
input{
  width:100%;
  resize: none;
  margin-bottom:15px;
  padding: 8px 10px;
  color:#777;
}
  .personal-info{
  margin-top: 30px;
  }

  table{
  width: 100%;
  sup{
  color: $bgColorSecondary;
  }
  span{
  display: inline-block;
  margin-top: 10px;
  }

  textarea{
  width: 100%;
  height: 100px;
  padding: 10px;
  resize: none;
  }
  tr{
    width: 100%;
  }
  td{
  padding-bottom: 20px;
  }
  span{
  margin-left: 15px;
  }

    .select-prod{
    position: relative;
    &:after{
    content: '\f107';
   font-family: $font-fontawesome;
   position: absolute;
   right: 5px;
   background-color: $bgwhite;
   top: 5px;
   z-index: 200;
   width: 30px;
   text-align: center;
   font-size: 2rem;
   color: $black;
   pointer-events: none;}
  }

    select {
      width: 100%;
      height: 40px;
      outline: none;
      padding: 0 10px;
      position: relative;
    }


    .question {
      width:21px;
      height:21px;
      padding-right: 7px;
      border-radius: 50%;
      background-color: $bgColorSecondary;
      i{
        //float:right;
        color: $bgwhite;
        text-align: center;
        margin-left:6px;
        display: inline-block;


    }
    }
.radio{
  label {
    display: inline-block;

  }
}

.in-block{
  display: inline-block;
}

}
}