.post__image {
  height: 292px;
  overflow: hidden;
  text-align: center;

  img {
    text-align: center;
    display: inline-block;
    height: 100%;
    width: auto;
  }
}

.post__links {
  padding: 18px 10px;
  margin-top: 30px;
  background-color:$test;

  .social {
    float: none;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;

    &__title {
      text-align: center;
      text-transform: uppercase;
      @include font (12px, $bgColorPrimaryLight, $font-light);
      line-height: 16px;
      display: block;
    }

    &__link {
      margin-right: 0;
    }
  }

}

.tag {
  text-align: center;
  margin-bottom: 16px;

  p {
    margin: 0;
  }

  &__title {
    text-transform: uppercase;
    @include font (12px, $bgColorPrimaryLight, $font-light);
    line-height: 16px;
  }

  &__body {
    @include font (12px, $bgColorPrimaryDark, $font-light);
    line-height: 16px;
  }

}

.comments {
  border-top: 3px solid #e6e7eb;
  border-bottom: 3px solid #e6e7eb;
  padding: 40px 20px;
  margin-right: 30px;

  h3 {
    text-align: left;
  }

  .pagination {
    float: left;
    line-height: 52px;
    ul {
      margin: 0;
    }
  }

  .post__btn {
    float: right;
  }

}

.comment {
  margin-bottom: 30px;

  &__avatar {
    text-align: center;
    background-color: silver;
    display: inline-block;
    width: 94px;
    height: 94px;
    float: left;

    img {
      max-width: 100%;
      max-height: 100%;
      display: inline-block;
      text-align: center;
    }
  }

  &__author {
    text-transform: uppercase;
    display: inline-block;
    @include font(14px, #494949, $font-regular);
    line-height: 16px;
    margin-right: 10px;
  }

  &__date {
    display: inline-block;
    @include font(14px, $bgColorSecondary, $font-light);
    line-height: 16px;
  }

  &__body {
    display: block;
    margin-left: 116px;
  }

  &__message {
    text-align: justify;
    @include font(12px, $bgColorPrimaryDark, $font-light);
    line-height: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    min-height: 54px;
    max-height: 54px;
  }

  &__continue {
    @include font(12px, $bgColorPrimaryDark, $font-light);
    text-decoration: underline;
  }

  &__reply {
    text-transform: uppercase;
    text-decoration: underline;
    @include font(12px, $bgColorPrimaryDark, $font-light);
    display: inline-block;
    margin-right: 25px;

    &::after {
      //content: '';
      //@include sprite($s-reply);
    }

    &:hover {
      text-decoration: underline;
    }

  }

  &__like {
    @include font(12px,$bgColorPrimaryDark, $font-light);
    display: inline-block;

    &::before {
      //content: '';
      //@include sprite($s-like);
      margin-right: 5px;
    }

    &:hover {
      text-decoration: none;
    }

  }
}

.comment__wrapper .comment__wrapper {
  margin-left: 116px;
}

.leave-comment {
  padding-top: 40px;
  margin-right: 30px;
  margin-left: 30px;

  &__notice {
    @include font(14px, $bgColorPrimaryDark, $font-regular);
    line-height: 24px;
  }

  &__title {
    @include font(30px, $bgColorPrimaryDark, $font-regular);
    margin-bottom: 30px;
    line-height: 36px;
  }

  sup {
    color: $bgColorSecondary;
  }

  label {
    color: $bgColorPrimaryDark;
    display: inline-block;
    padding: 0;
  }
  input{
    width:100%;
    padding:10px 0;
  }
  textarea {
    width:100%;
    min-height: 130px;
    margin-bottom: 8px;
    padding:10px 0;
  }

  .post__btn {
    float: right;
  }

  .form-group{
   margin-bottom:20px;
  }
}



@media (max-width: 450px) {

  .comment {
    &__avatar {
      display: none;
    }

    &__body {
      margin-left: 0;
      float: none;
    }

    &__message {
      max-height: auto;
    }
  }
  .leave-comment {
    padding-top: 20px;
    margin-right: 0px;
    margin-left: 0px;
  }
}


@media (max-width: 650px) {
  .comment {
    &__message {
      max-height: 90px;
    }
  }

  .comments {
    .links-wrapper {
      text-align: center;
    }

    .pagination {
      float: none;
      display: block;
      text-align: center;

      ul {
        display: inline-block;
      }
    }

    .post__btn {
      float: none;
      display: inline-block;
    }

  }

  .leave-comment {
    padding-top: 30px;
    margin-right: 15px;
    margin-left: 15px;
  }

}


@media (max-width: 640px) {

  .comment__wrapper .comment__wrapper {
    margin-left: 0px;
  }
  .post__descr {
    padding-right: 0;
  }
  .comments {
    margin-right: 0;
    padding: 20px 0;

    .pagination {
      padding: 0;
      margin-bottom: 30px;

      ul {
        margin: 0;
      }
    }
  }

}