.price-wrapper {

  .btn-wrapper {
    background-color: $bgColorPrimaryLight;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 40px;
  }

}
.bgprice{
  background-color: $bgColorPrimaryLight;
  height:400px;
  .price-list{
    padding:5px 20px;
    p{
      text-align: justify;
      color:white;
    }
  }
}
.price {
  padding-top: 50px;

  h2 {
    margin-bottom: 20px;
  }

  .number {
    font-size: 0;
    vertical-align: top;
    position: relative;

    span {
      position: absolute;
      vertical-align: top;
      display: inline-block;
      text-align: center;
      height: 40px;
      width: 40px;
      border: 2px solid #ccc;
      cursor: pointer;

      &::before {
        content: "";
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .minus {
      left: 0;
      &::before {
        content: "\f068";
        font-family:$font-fontawesome;
      }
    }

    .plus {
      right: 0;
      background-color: $bgColorPrimaryDark;
      color: white;

      //&::before {
      //  @include sprite($s-plus);
      //}
    }

    &__input{
      text-align: center;
      vertical-align: top;
      display: inline-block;
      border: 0;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      height: 40px;
      width: 100%;
    }
  }

}

.filter {
  margin-bottom: 30px;

  &__name {
    text-align: left;
    display: block;
    @include font(14px, #000, 400, $font-regular);
    line-height: 20px;
  }

  &__currency {
    font-size: 0;

    input {
      position: absolute;
      left: -9999px;
      clip:rect(0,0,0,0);
    }

    input[type="radio"]+label {
      display: inline-block;
      @include font(14px, $bgColorPrimaryLight, 400, $font-regular);
      text-transform: uppercase;
      line-height: 40px;
      border: 1px solid #ccc;
      margin: 0;
      padding-left: 20px;
      padding-right: 20px;
      cursor: pointer;
    }

    input[type="radio"]:checked+label {
      color: white;
      background-color: $bgColorPrimaryDark;
    }
  }

  &__product {

    select {
      @include font(14px, #000, 400, $font-regular);
      line-height: 24px;
      cursor: pointer;
    }
  }

  .rf {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .c1 {
      order: 1;
    }
    .c2 {
      order: 2;
    }
    .c3 {
      order: 3;
    }
  }

}


.price-table {
  margin-bottom: 40px;
  border: 1px solid $bgColorPrimaryLight;
  font-size: 0;

  &__head {
    border-right: 1px solid $bgColorPrimaryLight;
    display: inline-block;
    width: 215px;
  }

  &__body {
    display: inline-block;
    width: calc(100% - 215px);
  }

  &__title {
    text-wrap: none;
    background-color: $bgColorPrimaryDark;
    @include font(16px, white, 400, $font-regular);
    line-height: 70px;
    text-align: center;
  }

  &__value {
    @include font(14px, #000, 400, 'opensans-regular');
    line-height: 40px;
    text-align: center;

    &:nth-child(odd) {
      background-color: $bgColorPrimaryLight;
    }
  }

  &__slide {
    width: 20%;
    display: inline-block;
    border-right: 1px solid silver;
    &:last-child {
      border-right: 0;
    }
  }

}

//@media (max-width: $only-mobile-width) {
//  .filter {
//    .rf {
//      .c2 {
//        display: block;
//        order: 3;
//      }
//      .c3 {
//        order: 2;
//      }
//    }
//  }
//
//  .list-block {
//    margin-bottom: 30px;
//  }
//
//  .price-table__body {
//    width: 50%;
//  }
//
//  .price-table__head {
//    width: 50%;
//    float: left;
//  }
//
//  .price-wrapper {
//
//    .price-table__body {
//      position: relative;
//
//      .bx-prev, .bx-next {
//        position: absolute;
//        top: 0;
//        width: 25px;
//        height: 40px;
//        line-height: 70px;
//        text-align: center;
//
//        &::before {
//          font-family: $font-awesome;
//          color: $colorTextInfo;
//          font-size: 38px;
//        }
//
//      }
//
//      .bx-prev {
//        left: 0;
//        &::before {
//          content: "\f104";
//        }
//      }
//
//      .bx-next {
//        right: 0;
//        &::before {
//          content: "\f105";
//        }
//      }
//    }
//
//  }
//
//  .price-table {
//    padding-top: 2px;
//    border: 1px solid $bgColorY;
//    background-color: $bgColorY;
//
//    &__head {
//      border: 0;
//    }
//    &__slide {
//      border: 0;
//    }
//  }
//
//}

//@media (min-width: $only-mobile-width) {
//  .price-wrapper {
//
//    .h100 {
//      display: flex;
//      margin-bottom: 60px;
//
//      div:first-child {
//        align-items: stretch;
//      }
//
//      .list-block {
//        height: 100%;
//      }
//
//    }
//
//  }
//}
//
//@media (max-width: 350px) {
//  .price-wrapper {
//
//    .filter {
//
//      &__currency {
//
//        input[type="radio"]+label {
//
//          padding-left: 10px;
//          padding-right: 10px;
//
//        }
//      }
//    }
//
//  }
//}


