.samples {
  .pagination {
    float:right;
    li{
      display: inline-block;
      a{
        padding:0 5px;
        border-radius:2px;
        border:1px solid $bgColorPrimaryLight;
        color:$bgColorPrimaryLight;
        &:hover{
          padding:0 5px;
          background-color: $bgColorPrimaryDark;
          text-decoration: none;
        }
      }
      a.active{
        background-color: $bgColorPrimaryDark;
      }
    }
    li:before {
      display: none;
    }
  }

  .sample {
    margin-top:20px;
    margin-bottom:30px;
  table{
    width:100%;
    td{
      text-align: left;
      padding:5px 0;
      &:first-child{
        padding-left:29%;
      }
      &:nth-child(2){
        padding-right:10%;
      }
    }
    tr:nth-child(even) td{
      text-align: left;
      background-color: $test;
    }
   }
    .sample-content{
      border-bottom:1px dashed silver;
      padding-bottom:20px;
      text-align: center;
      .btno{
        margin-top:10px;
        display: inline-block;
        width:100%;
        border-radius:5px;
        background-color: $bgColorPrimaryDark;
        color:white;
        height:auto;
        font-size:20px;
        font-family:$font-bold;
        padding:15px 0px;
        text-decoration: none;
        text-transform: uppercase;
        &:hover{
          background-color: $bglhbutton;
          text-decoration: none;
        }
      }

    }
    .sample-foot{
      .p-min{
        font-size:11px;
      }
      .green{
        color:$bgColorPrimaryLight;
      }
      .red{
        color:$bgColorSecondary;
      }
      .dis {
        display:inline-block;
        margin-top:5px;
        background-image: url(../img/dis-sam.png);
        background-repeat:no-repeat;

        height:47px;
        .number{
          position: relative;
          top:-3px;
          font-size:30px;
          font-family:$font-bold;
          color: $bgColorSecondary;
          padding-left:62px;
          text-shadow: 1px 1px 3px #000000;
        }
        .num{
          text-transform: uppercase;
          position: relative;
          top:12px;
          left:-77px;
          font-size:12px;

        }
      }
      .foot-desc{
        display: inline-block;
      }

    }
  }
  .bg-title {
    text-align: left;
    padding-left: 15px;
  }
}
