.testimonials{
  .links-wrapper {
    margin-bottom: 25px;

  }

  .pagination {
    .reply{
      text-align: center;
    }
    li{
    display: inline-block;
      a{
        padding:0 5px;
        border-radius:2px;
        border:1px solid $bgColorPrimaryLight;
        color:$bgColorPrimaryLight;
        &:hover{
          padding:0 5px;
          background-color: $bgColorPrimaryDark;
          text-decoration: none;
        }
      }
      a.active{
        background-color: $bgColorPrimaryDark;
      }
    }
    li:before {
      display: none;
    }
  }
  .testimon{
    position: relative;
    border:1px solid $test;
    border-radius: 20px;
    height:auto;
    background-color:$test;
    margin-bottom:45px;
    &:before{
      content: '';
      position: absolute;
      left: 30px; bottom: -20px;
      border: 20px solid transparent;
      border-left: 20px solid $test;
    }
    .text{
      padding:25px 35px;
      text-align: justify;
      .t-author{
        float:right;
        font-family:$font-bold;
        text-transform: uppercase;
      }
    }
  }

  .form-group {
    margin-top: 0;

    label {
      display: inline-block;

    }
  }

  input[type="radio"]~label {
    margin-right: 2px;
  }
.form-green{
  background-color:$bgColorPrimaryLight;
}
  .form-body{
    padding-bottom:40px;
  }
  .form-group{
    text-align: center;
    margin-bottom: 20px;
    input{
      width:90%;
      padding:5px;
    }
    textarea{
      width:90%;
    }

  }
}