<section class="about">
    <div class="container-fluid">
        <div class="container">
            <!-- row why we are -->
            <div class="row mt">
                <div class="col-md-12">
                    <div class="h2-title"><h2>Why we are?{h2}</h2></div>
                </div>
                <div class="col-md-12">
                    <div class="why-we-are">
                        <span class="wwa-title">When you use CompanyName.com, this is exactly what you get</span>
                        <ul>
                            <li>An essay, research paper or term paper written for your academic level, whether that be high school, college, or graduate school</li>
                            <li>Authentic research performed individually for the customer</li>
                            <li>A work that is delivered by the deadline established</li>
                            <li>Revisions, free of charge, until the customer is completely satisfied (unless there is a change of original instructions)</li>
                            <li>A guarantee of originality, enforced by scanning each work for plagiarism, using the most current software for that purpose</li>
                            <li>An emulation of the customer’s writing style, accomplished by allowing the customer to submit samples of his or her previous works. The assigned writer can then use that as a model in producing the piece</li>
                            <li>A secure and easy method of payment</li>
                            <li>A guarantee of complete confidentiality for each customer</li>
                            <li>A customer service staff that is available to resolve any issues, answer any questions, and provide price quotes, no matter how simple or complex the work may be</li>
                            <li>Over 1000 academicians who create essays and research papers in their specific subject fields</li>
                            <li>Resource use and citation as designated by the customer</li>
                        </ul>
                    </div>
                </div>
            </div><!-- row why we are -->

            <!-- row why us -->
            <div class="row mt">
                <div class="col-md-4">
                    <div class="gbg">
                         <span class="wwa-title">
                        Why choose us
                    </span>
                        <ul>
                            <li>The largest source data base</li>
                            <li>Any paper at any academic level</li>
                            <li>96% Satisfied and returning customers</li>
                            <li>A wide range of services</li>
                            <li>MA/PhD writers</li>
                            <li>24/7 Customer support</li>
                            <li>Flexible discount program</li>
                            <li>Free plagiarism report</li>
                            <li>Double checked content</li>
                            <li>Direct communication with a writer</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="h2-title"><h2>Why Us{h2}</h2></div>
                    <div class="h2-title"><h3>What students seek for writing assistance?{h3}</h3></div>
                    <p>
                        First, these students are very intelligent, because they know t Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit. Adipisci culpa dolor eos harum, iusto maxime molestiae molestias
                        nesciunt porro qui repellendus tempore temporibus tenetur vero voluptates! Deserunt qui quisquam
                        vitae.
                    </p>

                    <div class="why-btn">
                        <a href="#" class="btn-large">ORDER NOW</a>
                    </div>


                </div>




            </div><!-- row why us -->
            <!-- contact us -->
            <div class="row mt">
                <div class="col-md-12">
                    <div class="h2-title"><h2>Contact Us{h2}</h2></div>
                    <p>EssaysService.com provides original and high quality essays, reports, research papers, and other types of academic writing to the students. The papers are delivered by the professional writers educated in the finest American universities.
                        We have the best team of academic experts, editors and customer support personnel who work to ensure your complete satisfaction.
                        At our custom writing service we are dedicated to providing unique papers to the students of all academic levels and in all fields of study, from simple to complex. Our company was created to offer you professional writing assistance, no matter what you need, when you need it!  Once you have experienced the quality of EssaysService.com, you will never go anywhere else.We are available 24 hours a day, 365 days a year.  You can contact us in any way that is convenient for you, and we will start the work on your order immediately.
                        <br><strong>Address: 0302 W. 2th St, Los Angeles, CA 80235<br>
                        Email: companyname@mail.com</strong></p>

                </div>
            </div>
            <!-- contact us -->
            <div class="row mt  hidden-sm hidden-xs">
                <div class="col-md-offset-2 col-md-8">
                    <div class="gbg">
                         <span class="wwa-title">
                        Contact Form
                    </span>
                        <div class="ab-form">
                        <form class="" action="index.html" method="post">
                            <div class="row">
                                <div class="col-md-3">
                                    <span>Your name</span>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" name="" value="">
                                </div>
                                <div class="col-md-3">
                                    <span>Email</span>
                                </div>
                                <div class="col-md-9">
                                    <input type="text" name="" value="">
                                </div>
                                <div class="col-md-3">
                                    <span>Message</span>
                                </div>
                                <div class="col-md-9">
                                    <textarea name="name"></textarea>
                                </div>
                                <div class="col-md-offset-8 col-md-4 ">
                                    <a href="#" class="btn-small"><i class="fa fa-angle-right"></i> Send</a>
                                </div>

                        </form>
                        </div>

                    </div>

                </div>
            </div>









        </div><!-- container -->

    </div><!-- container-fluid -->




</section>

<div class="container-fluid bg-silver hidden-sm hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-4">
                <div class="a-btn">
               <span class="telo">Call now: +1-044-147-0235</span><br>
                <span class="telo">Toll for free: +1-044-147-0336</span>
                </div>
            </div>
            <div class="col-md-3">
            <div class="a-btn">
                <a href="#" class="btn">
                    <i class="fa fa-comments-o " aria-hidden="true"></i>
                    <i class="fa fa-angle-right" aria-hidden="true"></i> LIVE CHAT</a>
            </div>
            </div>
        </div>
    </div>
</div>
