<main class="blog">
    <div class="container-fluid" >
        <div class="container">

            <div class="articles">
                <div class="row">
                    <div class="col-md-10 col-md-offset-2">
                        <article class="post">
                            <div class="post__info">
                                <time class="post__date" datetime="2014-08-03" pubdate>
                                    <p class="post__month">AUG</p>
                                    <p class="post__day">3</p>
                                    <p class="post__year">2014</p>
                                </time>
                                <div class="post__comments">
                                    <p>12</p>
                                    <p>comments</p>
                                </div>
                            </div>
                            <div class="post__image">
                                <img src="../img/blog.png" alt="">
                            </div>
                            <div class="post__author">
                                Posted by <strong>Sara brash</strong>
                            </div>
                            <h4 class="post__title">Lorem ipsum dolor sit amet</h4>
                            <p class="post__descr">Student years are the best time of one’s life. You are in the prime of your life and hopeful about the bright future ahead. This is the period that leaves the funniest photos, the sweetest memories, and gives you the most faithful friends. However, there is one thing that spoils all the fun – assignment writing. Have you ever struggled to write an essay or prepare a speech only to find that the deadline is getting closer, and the work is not ready yet? Are you desperate for someone to have your paper done? Ordering it online is a really convenient option, but you must be sure that the final product is worth the price. EssaysService.com is one of the leading online writing centers that deliver only premium quality essays, term papers, and research papers.

                                Once you place an order and provide all the necessary instructions, one of our writers will start working on it. Be sure we won’t choose a person to do your paper at random. The writer assigned will hold an academic degree in the respective area of expertise, which makes it possible for him/her to find the relevant information, carry out exhaustive research, and develop a comprehensible and well-organized document.

                            </p>
                            <a href="page.html" class="btn post__btn">Continue Reading</a>
                        </article>

                        <article class="post">
                            <div class="post__info">
                                <time class="post__date" datetime="2014-08-03" pubdate>
                                    <p class="post__month">AUG</p>
                                    <p class="post__day">3</p>
                                    <p class="post__year">2014</p>
                                </time>
                                <div class="post__comments">
                                    <p>12</p>
                                    <p>comments</p>
                                </div>
                            </div>
                            <div class="post__image">
                                <img src="../img/blog.png" alt="">
                            </div>
                            <div class="post__author">
                                Posted by <strong>Sara brash</strong>
                            </div>
                            <h4 class="post__title">Lorem ipsum dolor sit amet</h4>
                            <p class="post__descr">Student years are the best time of one’s life. You are in the prime of your life and hopeful about the bright future ahead. This is the period that leaves the funniest photos, the sweetest memories, and gives you the most faithful friends. However, there is one thing that spoils all the fun – assignment writing. Have you ever struggled to write an essay or prepare a speech only to find that the deadline is getting closer, and the work is not ready yet? Are you desperate for someone to have your paper done? Ordering it online is a really convenient option, but you must be sure that the final product is worth the price. EssaysService.com is one of the leading online writing centers that deliver only premium quality essays, term papers, and research papers.

                                Once you place an order and provide all the necessary instructions, one of our writers will start working on it. Be sure we won’t choose a person to do your paper at random. The writer assigned will hold an academic degree in the respective area of expertise, which makes it possible for him/her to find the relevant information, carry out exhaustive research, and develop a comprehensible and well-organized document.

                            </p>
                            <a href="page.html" class="btn post__btn">Continue Reading</a>
                        </article>

                        <article class="post">
                            <div class="post__info">
                                <time class="post__date" datetime="2014-08-03" pubdate>
                                    <p class="post__month">AUG</p>
                                    <p class="post__day">3</p>
                                    <p class="post__year">2014</p>
                                </time>
                                <div class="post__comments">
                                    <p>12</p>
                                    <p>comments</p>
                                </div>
                            </div>
                            <div class="post__image">
                                <img src="../img/blog.png" alt="">
                            </div>
                            <div class="post__author">
                                Posted by <strong>Sara brash</strong>
                            </div>
                            <h4 class="post__title">Lorem ipsum dolor sit amet</h4>
                            <p class="post__descr">Student years are the best time of one’s life. You are in the prime of your life and hopeful about the bright future ahead. This is the period that leaves the funniest photos, the sweetest memories, and gives you the most faithful friends. However, there is one thing that spoils all the fun – assignment writing. Have you ever struggled to write an essay or prepare a speech only to find that the deadline is getting closer, and the work is not ready yet? Are you desperate for someone to have your paper done? Ordering it online is a really convenient option, but you must be sure that the final product is worth the price. EssaysService.com is one of the leading online writing centers that deliver only premium quality essays, term papers, and research papers.

                                Once you place an order and provide all the necessary instructions, one of our writers will start working on it. Be sure we won’t choose a person to do your paper at random. The writer assigned will hold an academic degree in the respective area of expertise, which makes it possible for him/her to find the relevant information, carry out exhaustive research, and develop a comprehensible and well-organized document.

                            </p>
                            <a href="page.html" class="btn post__btn">Continue Reading</a>
                        </article>

                    </div>
                </div>

                <div class="pagination">
                    <ul>
                        <li><a href=""><i class="fa fa-angle-left"></i></a></li>
                        <li><a href="" class="active">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">4</a></li>
                        <li><a href="">5</a></li>
                        <li><a href="" class="dotted">...</a></li>
                        <li><a href="">6</a></li>
                        <li><a href=""><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
</main>