<main class="discount">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="h2-title">Discounts for NEW and RETURNING customers!</h2>
            </div>
            <div class="col-md-12">
                <h3 class="h2-title red-title">RETURNING CUSTOMERS GET 5, 10 OR 15 % DISCOUNTS</h3>
            </div>

            <div class="col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10">
                <div class="first-order">
                    <div class="disc-img"><img src="../img/first-order.png" alt=""></div>
                    <span> -20% </span> <span> for first order</span>
                </div>
            </div>
            <div class="col-md-12">
                <p>EssaysService.com focuses on establishing long-term relationshi
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet assumenda
                    dolore doloremque, excepturi harum illum ipsum iste laudantium libero
                    molestiae nisi optio, repellat saepe sapiente sint sit velit veritatis
                    voluptates!</p>
            </div>
            <div class="row mb">
            <div class="col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-4 col-sm-offset-3 col-sm-6">
                <div class="dis">
                    <span class="number">-5%</span>
                    <span class="num-text">discounts</span>
                </div>
                <!-- -5 -->
            </div>
            <div class="col-lg-7 col-md-6 col-xs-12">
                <p>When your total order equals 15 or more pages, you will receive a permanent 5% discount on ALL future orders. The 15 pages can be counted from one or multiple orders.</p>
            </div>
            <!-- -5 text-->
            </div>
            <!--row-->
            <div class="row mb">
            <div class="col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-4 col-sm-offset-3 col-sm-6">
                <div class="dis">
                    <span class="number num">-10%</span>
                    <span class="num-text">discounts</span>
                </div>
                <!-- -10 -->

            </div>
            <div class="col-lg-7 col-md-6 col-xs-12">
                <p>When your total order equals 15 or more pages, you will receive a permanent 10%
                    discount on ALL future orders. The 15 pages can be counted f.</p>
            </div>
            <!-- -10 text-->
            </div>
            <!--row-->
            <div class="row mb">
            <div class="col-lg-offset-1 col-lg-3 col-md-offset-1 col-md-4 col-sm-offset-3 col-sm-6">
                <div class="dis">
                    <span class="number num">-15%</span>
                    <span class="num-text">discounts</span>
                </div>
                <!-- -15 -->

            </div>
            <div class="col-lg-7 col-md-6 col-xs-12">
                <p>When your total order equals 15 or more pages, you will receive a permanent 15% discount
                    on ALL future orders. The 15 pages can be counted from one .</p>
            </div>
            <!-- -15 text-->
            </div>
            <!--row-->

            <div class="col-md-12">
                <p>EssaysService.com focuses on establishing long-term relationshi
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet assumenda
                    dolore doloremque, excepturi harum illum ipsum iste laudantium libero
                    molestiae nisi optio, repellat saepe sapiente sint sit velit veritatis
                    voluptates!</p>
            </div>


        </div>

    </div>
</main>