<main class="faq">
    <div class="container-fluid">
    <div class="container">
    <div class="row">

        <div>
             <h2 class="h2-title"> Frequently Asked Questions</h2>
            <div class="btn-aco">1. What happens once I place an order for an essay or paper? <span>&rsaquo;</span></div>

            <div class="con-aco">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat</div>
            <!--aco1-->
            <div class="btn-aco">2. Will my writer and I be able to communicate with one another <span>&rsaquo;</span></div>

            <div class="con-aco">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat</div>
            <!--aco2-->
            <div class="btn-aco">3. What methods of payment can I use and are they secure? <span>&rsaquo;</span></div>

            <div class="con-aco">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat</div>
            <!--aco3-->
            <div class="btn-aco">4. How do you guarantee that I will be satisfied  with your wor <span>&rsaquo;</span></div>

            <div class="con-aco">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat</div>
            <!--aco4-->
            <div class="btn-aco">5. Will others know I have used your service? <span>&rsaquo;</span></div>

            <div class="con-aco">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat</div>
            <!--aco5-->
            <div class="btn-aco">6. Can I specify the format or is there a standard one you use? <span>&rsaquo;</span></div>

            <div class="con-aco">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat</div>
            <!--aco6-->
            <div class="btn-aco">7. Do your essays and papers come from pre-written databases? <span>&rsaquo;</span></div>

            <div class="con-aco">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat</div>
            <!--aco7-->
            <div class="btn-aco">8. Is there any way I could get discount, while ordering from  <span>&rsaquo;</span></div>

            <div class="con-aco">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat</div>
            <!--aco8-->
            <div class="btn-aco">9. How do you set your prices? <span>&rsaquo;</span></div>

            <div class="con-aco">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                ullamco laboris nisi ut aliquip ex ea commodo consequat</div>
            <!--aco9-->







        </div>




    </div>
    </div>
    </div>




</main>