<!--FOOTER SECTION-->
<div class="container-fluid foo-up hidden-sm hidden-xs">
    <div class="container">
        <div class="bee hidden-sm hidden-xs"><img src="../img/bee.png" class="bee-img" alt=""></div>
        <div class="row">
            <div class="col-lg-3">
                <div class="foo-logo">
                    <a href="#"> <img src="../img/logo-footer.png" alt=""></a>
                </div>
                <div class="foo-call">
                    <span class="foo-cont">&nbsp;&nbsp;&nbsp;<a href="skype: someskype?call" class="skypef">Call now: +1-044-147-0235</a></span>
                    <span class="foo-cont">Email: <a href="mailto:companyname@gmail.com">companyname@gmail.com</a> </span>
                    <span class="foo-cont">Email:<a href="mailto:companyname@gmail.com">companyname@gmail.com</a> </span>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="foo-des">
                    <P>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Commodi corporis culpa distinctio earum maiores molestiae
                        provident quam, vero. Architecto dolorum esse nemo repudiandae sint!
                        Ab architecto asperiores cupiditate placeat quae.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad distinctio
                        dolore eligendi enim facilis fugiat illum modi mollitia nam, non optio
                        quidem quis ratione repudiandae rerum tenetur veritatis vitae, voluptates?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Commodi corporis culpa distinctio earum maiores molestiae
                        provident quam, vero. Architecto dolorum esse nemo repudiandae sint!
                        lore eligendi enim facilis fugiat illum modi mollitia nam, non optio
                        quidem quis ratione repudiandae rerum tenetur veritatis vitae, voluptates?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Commodi corporis culpa distinctio earum maiores molestiae
                        provident quam, vero. Architecto dolorum esse nemo repudiandae sint!
                        lore eligendi enim facilis fugiat illum modi mollitia nam, non optio
                        quidem quis ratione repudiandae rerum tenetur veritatis vitae, voluptates?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Commodi corporis culpa distinctio earum maiores molestiae
                        provident quam, vero. Architecto dolorum esse nemo repudiandae sint!
                        lore eligendi enim facilis fugiat illum modi mollitia nam, non optio
                        quidem quis ratione repudiandae rerum tenetur veritatis vitae, voluptates?
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Commodi corporis culpa distinctio earum maiores molestiae
                        provident quam, vero. Architecto dolorum esse nemo repudiandae sint!

                      </P>

                    <div class="foo-btn">
                        <a class="foo-btnf">
                            <!--<i class="fa fa-angle-down fbtn" aria-hidden="true"></i>-->
                        </a>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<div class="container-fluid foo-down">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 hidden-sm hidden-xs">
                <div class="foo-join">
                    <div class="foo-soc">Join us:</div>
                    <a href="#" class="icon icon-cube pinterest">pinterest</a>
                    <a href="#" class="icon icon-cube twitter">twitter</a>
                    <a href="#" class="icon icon-cube facebook">facebook</a>
                </div>
            </div>
            <div class="col-lg-9 col-sm-12 col-xs-12"><div class="foo-cop"><a href="#">Copyright © 2016 CompanyName.com</a></div></div>
        </div>
    </div>
</div>

<!--SOME JAVASCRIPT -->


<script src="js/main.js"></script>
</body>

</html>