<!--phones and social section-->
<div class="container-fluid phones-up">
    <div class="container">
        <div class="row">
            <div class="col-md-5 t-tel"><i class="icon icon-toll" aria-hidden="true"></i> Toll for free:<a href="skype: someskype?call" class="skype"> +1-(044)-147-0235</a></div>
            <div class="col-md-4 t-tel"><i class="icon icon-call" aria-hidden="true"></i> Call now:<a href="skype: someskype?call" class="skype"> +1-(044)-147-0336</a></div>
            <div class="col-md-3 t-soc">

                <div class="join">
                    <div class="soc">Join us:</div>
                    <a href="#" class="icon icon-cube pinterest">pinterest</a>
                    <a href="#" class="icon icon-cube twitter">twitter</a>
                    <a href="#" class="icon icon-cube facebook">facebook</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Menu section-->
<div class="container-fluid head-nav">
    <!--test-->



    <div class="content">
        <nav>
            <ul class="navigation show">
                <li><a href="index.html" class="m-link">Home</a></li>
                <li><a href="about.html" class="m-link">About</a></li>
                <li><a href="price.html" class="m-link">Service & Sprices</a></li>
                <li><a href="how-it-works.html" class="m-link">How It Works</a></li>
                <li><a href="discount.html" class="m-link">Discount</a></li>
                <li><a href="order-form.html" class="m-link">Order Now</a></li>
                <li><a href="faq.html" class="m-link">FAQ</a></li>
                <li><a href="testimonials.html" class="m-link">Testimonials</a></li>
                <li><a href="blog.html" class="m-link">Blog</a></li>
                <li><a href="samples.html" class="m-link">Samples</a></li>
                <li><a href="login.html" class="m-link">Login</a></li>

            </ul>
        </nav>
    </div>



    <!--test-->
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-xs-3">
                <a href="#" class="logo"><img src="img/logo.png" alt="logo"></a>
            </div>
            <div class="col-md-10 col-xs-9 top-menu">

                <button class="burger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </button>
                <nav class="hidden-xs hidden-sm">

                    <span class="menu"><a href="index.html" class="m-link">Home</a></span>
                    <span class="menu"><a href="about.html" class="m-link">About</a></span>
                    <span class="menu"><a href="price.html" class="m-link">Service & Sprices</a></span>
                    <span class="menu"><a href="how-it-works.html" class="m-link">How It Works</a></span>
                    <span class="menu"><a href="discount.html" class="m-link">Discount</a></span>
                    <span class="menu"><a href="order-form.html" class="m-link">Order Now</a></span>
                    <span class="menu"><a href="faq.html" class="m-link">FAQ</a></span>
                    <span class="menu"><a href="testimonials.html" class="m-link">Testimonials</a></span>
                    <span class="menu"><a href="blog.html" class="m-link">Blog</a></span>
                    <span class="menu"><a href="samples.html" class="m-link">Samples</a></span>
                    <span class="menu"><a href="login.html" class="m-link">Login</a></span>
                </nav>



            </div>
        </div>
    </div>
</div>

<div class="container-fluid main-title">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title">
                        <span>Title{span}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>