<!--phones and social section-->
<div class="container-fluid phones-up">
    <div class="container">
      <div class="row">
        <div class="col-md-5 t-tel"><i class="icon icon-toll" aria-hidden="true"></i> Toll for free:<a href="skype: someskype?call" class="skype"> +1-(044)-147-0235</a></div>
        <div class="col-md-4 t-tel"><i class="icon icon-call" aria-hidden="true"></i> Call now:<a href="skype: someskype?call" class="skype"> +1-(044)-147-0336</a></div>
          <div class="col-md-3 t-soc">

           <div class="join">
              <div class="soc">Join us:</div>
              <a href="#" class="icon icon-cube pinterest">pinterest</a>
              <a href="#" class="icon icon-cube twitter">twitter</a>
              <a href="#" class="icon icon-cube facebook">facebook</a>
           </div>
        </div>
      </div>
    </div>
</div>

<!--Menu section-->
<div class="container-fluid head-nav">
    <!--test-->



    <div class="content">
        <nav>
            <ul class="navigation show  hidden-lg">
                <li><a href="index.html" class="m-link">Home</a></li>
                <li><a href="about.html" class="m-link">About</a></li>
                <li><a href="price.html" class="m-link">Service & Sprices</a></li>
                <li><a href="how-it-works.html" class="m-link">How It Works</a></li>
                <li><a href="discount.html" class="m-link">Discount</a></li>
                <li><a href="order-form.html" class="m-link">Order Now</a></li>
                <li><a href="faq.html" class="m-link">FAQ</a></li>
                <li><a href="testimonials.html" class="m-link">Testimonials</a></li>
                <li><a href="blog.html" class="m-link">Blog</a></li>
                <li><a href="samples.html" class="m-link">Samples</a></li>
                <li><a href="login.html" class="m-link">Login</a></li>

            </ul>
        </nav>
    </div>



    <!--test-->
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-xs-3">
                <a href="#" class="logo"><img src="img/logo.png" alt="logo"></a>
            </div>
            <div class="col-md-10 col-xs-9 top-menu">

                <button class="burger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </button>
                <nav class="hidden-xs hidden-sm">

                        <span class="menu"><a href="index.html" class="m-link">Home</a></span>
                        <span class="menu"><a href="about.html" class="m-link">About</a></span>
                        <span class="menu"><a href="price.html" class="m-link">Service & Sprices</a></span>
                        <span class="menu"><a href="how-it-works.html" class="m-link">How It Works</a></span>
                        <span class="menu"><a href="discount.html" class="m-link">Discount</a></span>
                        <span class="menu"><a href="order-form.html" class="m-link">Order Now</a></span>
                        <span class="menu"><a href="faq.html" class="m-link">FAQ</a></span>
                        <span class="menu"><a href="testimonials.html" class="m-link">Testimonials</a></span>
                        <span class="menu"><a href="blog.html" class="m-link">Blog</a></span>
                        <span class="menu"><a href="samples.html" class="m-link">Samples</a></span>
                        <span class="menu"><a href="login.html" class="m-link">Login</a></span>
                </nav>



            </div>
        </div>
    </div>
</div>

<!--Boy background section-->
<div class="container-fluid boy">
    <div class="container">
        <div class="row">
            <div class="bgboy">

              <div class="col-lg-2 hidden-sm hidden-xs">
                  <div class="chat">
                      <a href="#" class="btn">
                          <i class="fa fa-comments-o " aria-hidden="true"></i>
                          <i class="fa fa-angle-right" aria-hidden="true"></i>LIVE CHAT</a>
                  </div>
              </div>
              <div class="col-lg-9 col-sm-12 col-xs-12">
                  <div class="boy-title">Custom Writing service</div>
                  <div class="bsub-title">the key to success </div>
                  <div class="bdes-title hidden-sm hidden-xs">You are at right place! </div>
                  <div class="bdescription hidden-sm hidden-xs">EssayService.com is a top quality  writing service</div>
                  <div class="buttons">
                      <a href="#" class="btn-large">ORDER NOW</a>
                  </div>

              </div>
              <div class="col-lg-1"></div>
            </div>
        </div>
    </div>
</div>

<!--Special offer section-->

<div class="container-fluid discounts hidden-sm hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 t-dis">Special Offer:
                <span class="bolder">Get limited discounts on the first order</span>
            </div>
            <div class="col-lg-6 t-disb">

                    <a href="#" class="btn-small">The list of discounts</a>


            </div>
        </div>
    </div>
</div>
