<main class="h-i-works">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <header class="h2-title">
                        <h2>How does it works?</h2>
                    </header>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-md-12">
                        <p>Have you been scammed by writing services? Do you resent using a writing service again? We understand your anger and frustration, because many clients who end up with us have experienced just what you have. They paid for a paper
                            and received a terrible product which they could not submit without completely re-writing it or, worse, had to trash it completely.</p><br>
                        <p>With CompanyName.com, you get an entirely different process. We are completely open with our customers, and they are aware of every stage their paper is at. Our company together with its customers has managed to build the confidence
                            which is not available with other services. Whether you need an essay, report, critique, term or research paper, thesis or dissertation, the process is the same.When you use us, here is what happens:</p>
                    </div>
                </div>
                <!-- row -->
                <div>
                    <header>
                        <div class="row">
                            <div class="col-md-2 col-xs-12">
                                <div class="cube">
                                    <div class="HiW-blox icon-pic1"></div>
                                    <div class="round-green"></div>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <h3>1. Place Your Order</h3>
                            </div>
                        </div>
                    </header>

                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <p>Use our user-friendly form to place your order. This form allows you to indicate the academic level (high school, undergraduate, etc.), the specific topic of the piece, type of piece (essay, report, research paper, etc.)
                                    and all other requirements, such as length, number and types of resources to be used, citation format, etc. Also on this form, you will find the place to indicate your deadline. This is critically important. We urge
                                    you to give us as much time as possible to complete the work, but if the order is truly urgent, we will still accept it and complete it exactly by the deadline. Next step to make is to pay for your order. The prices
                                    are based upon our pricing policy which is very flexible and depends upon the work and the deadline.</p><br>
                                <p>An order with a short deadline will be immediately assigned to a team of academicians in the subject field who will work together to meet the deadline. If the deadline provides more time, the paper will be transferred to
                                    our contracted writers. It will be given to the writer with an appropriate specialization and suitable academic level.</p><br>
                                <p>Once you have completed the registration form, you will be assigned a customer ID, which you will use to access your personal account. Your account dashboard is where you place your orders.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <header>
                        <div class="row">
                            <div class="col-md-2">
                                       <div class="cube">
                                        <div class="HiW-blox icon-pic4"></div>
                                        <div class="round-green"></div>
                                       </div>
                            </div>
                            <div class="col-md-10">
                                <h3>2. Upload Additional Information</h3>
                            </div>
                        </div>
                        <!-- row -->
                    </header>

                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <p>Usually it takes several minutes for your order to be taken by the writer. At your account you can upload any additional information that you think your writer may need, including samples of your own writing for your writer
                                    to emulate. You can also contact your writer directly, to know he or she is on the right track and that your order is progressing according to your expectations. A messaging system has been set up for this purpose.
                                    However, you can upload additional information before we find a suitable writer or during the initial stages of the writing process.</p>
                            </div>

                        </div>
                    </div>
                    <!-- row -->
                </div>

                <div>
                    <header>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="cube">
                                <div class="HiW-blox icon-pic2"></div>
                                <div class="round-green"></div>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <h3>3. Your Order is Completed</h3>
                            </div>
                        </div>
                        <!-- row -->
                    </header>

                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <p>Once your order is completed, you are immediately notified. However, before it is delivered to you, it must first go through our strict editing process. The piece is read, revised if necessary, and scanned for plagiarism,
                                    so that we can ensure that it is structurally sound, grammatically correct and completely original. The work is then uploaded for you to download and is sent to your email address as well.</p>
                            </div>

                        </div>
                    </div>
                    <!-- row -->
                </div>

                <div>
                    <header>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="cube">
                                <div class="HiW-blox icon-pic5"></div>
                                <div class="round-green"></div>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <h3>4. Free plagiarism report </h3>
                            </div>
                        </div>
                        <!-- row -->
                    </header>

                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <p>Once your paper is completed you can check the paper for plagiarism, using your account. You get free plagiarism report from one of the most reliable plagiarism detection sites.</p>
                            </div>

                        </div>
                    </div>
                    <!-- row -->
                </div>
                <!-- step -->
                <div>
                    <header>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="cube">
                                <div class="HiW-blox icon-pic3"></div>
                                <div class="round-green"></div>
                                </div>
                            </div>
                            <div class="col-md-10">
                                <h3>5. Download</h3>
                            </div>
                        </div><!-- row -->
                    </header>

                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <p>Your work will remain in our database accessible for you to download for a period of 6 month. Once you download it, it is erased from the database and will never be found by anyone else. You have our guarantee that the
                                    paper will never be sold to anyone else. It is your property you have paid for.</p><br>
                                <p>After you have used our service, we encourage you to complete the feedback/questionnaire form, describing your experience with any and all of our departments. Only in this way can we continue to improve our services and
                                    provide appropriate payment to our writers. We provide bonuses to writers who are exemplary and discard writers who do not meet our expectations. Your input is truly valuable to us, so please complete the form.</p>
                            </div>

                        </div>
                    </div>
                    <!-- row -->
                </div>

            </div><!-- how it works -->
<!--Beware section-->
            <section  class="hidden-sm hidden-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <header class="h2-title">
                                <h2>Beware</h2>
                            </header>

                        </div>
                    </div>
                    <!-- row -->
                    <div class="row ">
                        <div class="col-md-6">
                            <div class="beware">
                                <div class="bg-title">EssaysService.com</div>
                                    <ul>
                                        <li>orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </li>
                                        <li class="gray">orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </li>
                                        <li>orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </li>
                                        <li class="gray">orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </li>
                                        <li>orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </li>
                                        <li class="gray">orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </li>
                                    </ul>
                            </div>
                        </div>
                            <div class="col-md-6">
                                <div class="beware">
                                    <div class="bg-title-l">Other companies</div>
                                    <ul>
                                        <li>orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </li>
                                        <li class="gray">orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </li>
                                        <li>orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </li>
                                        <li class="gray">orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </li>
                                        <li>orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </li>
                                        <li class="gray">orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </li>
                                    </ul>

                                </div>

                            </div>

                    </div>
                </div>  <!-- container -->
            </section>
            <!-- beware -->

        </div>
        <!-- container -->
    </section>

    </main>