<main class="login">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                     <div class="bgtitle">Login Form</div>
                <div class="log-form">
                    <form action="">
                        <input type="email" placeholder="E-mail">

                        <input type="password" placeholder="Password">
                        <!--<input type="submit" value="LOGIN">-->
                    </form>
                    <div class="forgot">
                    <a href="#">Forgot your password?<br>
                        Registration & order<br>
                        Free registration</a>
                    </div>
                    <div class="btn-login">
                        <a href="#"> Login</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>