<!--OUR ADVANTAGES-->
<div class="container-fluid">
    <div class="container">
        <div class="row tee">
            <div class="col-md-12 o-advan"><h2>Our Advantages</h2></div>
        </div>
        <div class="hidden-sm hidden-xs">
            <div class="col-md-4 tee-g"><a href="#" class="ad"><i class="icon icon-ad-icon" aria-hidden="true" ></i><br><br>
                Any academic level</a></div>
            <div class="col-md-4  tee-g"><a href="#" class="ad"><i class="icon icon-ad-icon2" aria-hidden="true"></i><br><br>
                Over 300 words per page</a></div>
            <div class="col-md-4  tee-g"><a href="#" class="ad"><i class="icon icon-ad-icon3" aria-hidden="true"></i><br><br>
                Free plagiarism report</a></div>


            <div class="col-md-4  tee-g"><a href="#" class="ad"><i class="icon icon-ad-icon4" aria-hidden="true"></i><br><br>
                20% off your first order</a></div>
            <div class="col-md-4  tee-g"><a href="#" class="ad"><i class="icon icon-ad-icon5" aria-hidden="true"></i><br><br>
                Direct communication with the writer</a></div>
            <div class="col-md-4  tee-g"><a href="#" class="ad"><i class="icon icon-ad-icon6" aria-hidden="true"></i><br><br>
                Flexible discount program</a></div>
        </div>

        <!--Hidden-->
        <div class="slider hidden-md hidden-lg">
            <div class="col-md-4 tee-g"><a href="#" class="ad"><i class="icon icon-ad-icon" aria-hidden="true" ></i><br><br>
                Any academic level</a></div>
            <div class="col-md-4  tee-g"><a href="#" class="ad"><i class="icon icon-ad-icon2" aria-hidden="true"></i><br><br>
                Over 300 words per page</a></div>
            <div class="col-md-4  tee-g"><a href="#" class="ad"><i class="icon icon-ad-icon3" aria-hidden="true"></i><br><br>
                Free plagiarism report</a></div>


            <div class="col-md-4  tee-g"><a href="#" class="ad"><i class="icon icon-ad-icon4" aria-hidden="true"></i><br><br>
                20% off your first order</a></div>
            <div class="col-md-4  tee-g"><a href="#" class="ad"><i class="icon icon-ad-icon5" aria-hidden="true"></i><br><br>
                Direct communication with the writer</a></div>
            <div class="col-md-4  tee-g"><a href="#" class="ad"><i class="icon icon-ad-icon6" aria-hidden="true"></i><br><br>
                Flexible discount program</a></div>
        </div>

    </div>
</div>


<!--COMPANY NAME SECTION-->
<div class="container-fluid">
    <div class="container">
        <div class="row tee">
            <div class="col-md-12 o-advan"><h1>COMPANYNAME.com has come forward <br>  to provide you with high quality papers.</h1></div>
            <div class="col-md-12 o-left"><div class="o-text">Student years are the best time of one’s life. You are in the prime of your life and
                hopeful about the bright future ahead. This is the period that leaves the funniest photos, the sweetest
                memories, and gives you the most faithful friends. However, there is one thing that spoils all the fun –
                assignment writing. Have you ever struggled to write an essay or prepare a speech only to find that the
                deadline is getting closer, and the work is not ready yet? Are you desperate for someone to have your
                paper done? Ordering it online is a really convenient option, but you must be sure that the final product
                is worth the price. EssaysService.com is one of the leading online writing centers that deliver only premium
                quality essays, term papers, and research papers.

               Once you place an order and provide all the necessary instructions, one of our writers will start working on it.
                Be sure we won’t choose a person to do your paper at random. The writer assigned will hold an academic degree
                in the respective area of expertise, which makes it possible for him/her to find the relevant information,
                carry out exhaustive research, and develop a comprehensible and well-organized document.

                The final product will meet all your specifications regarding the content and formatting style.
                    What is more, you will not have to proofread it for any grammatical or spelling errors, because our professionals
                    have a really good command of the English language.
                    All the papers EssaysService.com delivers are completely original as we check every single work for plagiarism
                    via advanced plagiarism detection software. You will receive a free plagiarism report together with your essay
                    to show its originality.

                     Being tempted by low prices and promises of quick paper delivery, you may choose another
                         paper writing service. The truth is that more often than not their words are hollow. While the main purpose
                         of such doubtful companies is to cash in on credulity of their clients, the prime objective of EssaysService.
                         com is clients’ satisfaction. We do fulfill our guarantees, and if a customer is displeased with the final
                         paper he/she had received (which hardly ever occurs), he/she will surely get a full refund. However, a refund
                         request is acceptable only within 14 days of the initial deadline.</div>
            </div>
        </div>
    </div>
</div>

<!--HOW IT WORKS SECTION-->

<!--HOW IT WORKS SECTION-->
<section class="h-i-w bgLiten hidden-sm hidden-xs">
    <div class="container-fluid bgLiten">
        <div class="container">
            <div class="row border-bottom">
                <div class="col-xs-12">
                    <span>How it works{span}</span>
                </div>
                <div class="col-md-4">
                    <div class="HiW-block icon-pic1"></div>
                    <div class="HiW-text">1. Place Your<br> Order</div>
                    <div class="round-green"></div>
                </div>
                <div class="col-md-4 HiW-block-center">
                    <div class="HiW-block icon-pic2"></div>
                    <div class="HiW-text">3. Your Order is<br> Completed</div>
                    <div class="round-green"></div>
                </div>
                <div class="col-md-4 HiW-block-right">
                    <div class="HiW-block icon-pic3"></div>
                    <div class="HiW-text">5. Download</div>
                    <div class="round-green"></div>
                </div>
            </div>

        </div>
    </div>

    <div class="container-fluid bgLiten">
        <div class="container">
            <div class="row">
                <div class="col-md-6 HiW-block-center">

                    <div class="HiW-block-d icon-pic4"></div>
                    <div class="HiW-text-d">2. Upload additional<br>information</div>
                    <div class="round-green"></div>
                </div>
                <div class="col-md-6 HiW-block-center">
                    <div class="HiW-block-d icon-pic5"></div>
                    <div class="HiW-text-d">4. Free plagiarism<br> report</div>
                    <div class="round-green"></div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--READ MORE SECTION-->
<div class="container-fluid rm-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="rm">{h2}Ordering a Paper  at Company.com Is Worth It</h2>
                <ul class="tx-just">
                    <li>Any type of writing paper assignment – from a high school essay to university term paper.</li>
                    <li>Our writers always follow the customers' requirements very carefully.</li>
                    <li>100% original paper and a plagiarism report to prove it.</li>
                    <li>Your order will be delivered in a timely manner. If we fail to meet the deadline, the customer will
                        get his/her money back.</li>
                    <li>A writer who is an expert in the respective field of study.</li>
                    <li>In case the essay or research paper doesn’t satisfy your requirements, you can ask for revision.
                        We will make all necessary changes and edit your work until you are
                    </li>
                    <li>100% satisfied with the final results. Just make sure that you put in a request for revision
                        within 48 hours of the initial deadline. The only exception is made for 20+ page papers – you
                        may submit your request for revision not later than a month after you receive your paper.
                    </li>
                    <li>Loyal customers have the privilege of buying papers at a reduced price.</li>
                </ul>
                <div class="rm-pos"><a href="#" class="btrm"> READ MORE</a></div>
            </div>
            <div class="col-md-6">
                <h2 class="rm">CompanyName.com is the best Essay Writing Service</h2>
                <p class="o-text o-right">The final product will meet all your specifications regarding the content and formatting style. What is more, you will not have to proofread it for any grammatical or spelling errors, because our professionals have a really good command of the English language.
                    All the papers EssaysService.com delivers are completely original as we check every single work for plagiarism via advanced plagiarism detection software. You will receive a free plagiarism report together with your essay to show its originality.
                    Being tempted by low prices and promises of quick paper delivery, you may choose another paper writing service. The truth is that more often than not their words are hollow. While the main purpose of such doubtful companies is to cash in on credulity of their clients, the prime objective of EssaysService.com is clients’ satisfaction. We do fulfill our guarantees, and if a customer is displeased with the final paper he/she had received (which hardly ever occurs), he/she will surely get a full refund. However, a refund request is acceptable only within 14 days of the initial deadline.
                </p>
                <div class="rm-pos"><a href="#" class="btrm"> READ MORE</a></div>
            </div>
        </div>
    </div>
</div>

