<main class="order-form">
    <div class="container">
        <div class="row">
            <div class="com-md-12">
                <header>
                    <h2  class="h2-title">Order Form</h2>
                </header>
            </div>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <p>Confused about the difference in pricing of various writing services? We understand! Most services charge a set price-per-page, for anything from a high school 5-paragraph essay to a Ph.D. dissertation. This should raise an immediate red
                    flag to you. No honest and ethical service can do this without using second-rate writers and databases of pre-written papers.</p>
            </div>
        </div>
        <!-- row -->
    </div>
    <!-- container -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="bg-title">
                        <span>Personal informations</span>
                    </div>
                </div>
            </div>
            <!-- row -->
            <div class="row">
                <div class="col-md-offset-1 col-md-11">
                    <table>
                        <tbody>
                        <tr>
                            <td>First name <sup>&#10033;</sup></td>
                            <td></td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>Last name <sup>&#10033;</sup></td>
                            <td></td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>Email <sup>&#10033;</sup></td>
                            <td>
                                <div class="question">
                                    <i class="fa fa-question"></i>
                                </div>
                            </td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>Contry code <sup>&#10033;</sup></td>
                            <td></td>
                            <td>
                                <div>
                                    <select class="select-prod" name="">
                                        <option value="">Product1</option>
                                        <option value="">Product2</option>
                                        <option value="">Product3</option>
                                        <option value="">Product4</option>

                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td>
                                <div class="question">
                                    <i class="fa fa-question"></i>

                                </div>
                            </td>
                            <td><input type="text"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- container -->
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="bg-title">
                        <span>Personal informations</span>
                    </div>
                </div>
            </div>
            <!-- row -->
            <div class="row">
                <div class="col-md-offset-1 col-md-11">
                    <table>
                        <tbody>
                        <tr>
                            <td>Subject or discipline</td>
                            <td>
                                <div class="question">
                                    <i class="fa fa-question"></i>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <select class="select-prod" name="">
                                        <option value="">Product5</option>
                                        <option value="">Product6</option>
                                        <option value="">Product7</option>
                                        <option value="">Product8</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Title of your paper <sup>&#10033;</sup></td>
                            <td>
                                <div class="question">
                                    <i class="fa fa-question"></i>
                                </div>
                            </td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td>Type of assignment</td>
                            <td></td>
                            <td>
                                <div>
                                    <select class="select-prod" name="">
                                        <option value="">Product9</option>
                                        <option value="">Product10</option>
                                        <option value="">Product11</option>
                                        <option value="">Product12</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Urgency</td>
                            <td>
                                <div class="question">
                                    <i class="fa fa-question"></i>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <select class="select-prod" name="">
                                        <option value="">Product13</option>
                                        <option value="">Product14</option>
                                        <option value="">Product15</option>
                                        <option value="">Product16</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Writer level</td>
                            <td>
                                <div class="question">
                                    <i class="fa fa-question"></i>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <select class="select-prod" name="">
                                        <option value="">Product17</option>
                                        <option value="">Product18</option>
                                        <option value="">Product19</option>
                                        <option value="">Product20</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Spacing</td>
                            <td>

                            </td>
                            <td>
                                <div>
                                    <select class="select-prod" name="">
                                        <option value="">Product21</option>
                                        <option value="">Product22</option>
                                        <option value="">Product23</option>
                                        <option value="">Product24</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Currency</td>
                            <td>

                            </td>
                            <td>
                                <div>
                                    <select class="select-prod" name="">
                                        <option value="">Product25</option>
                                        <option value="">Product26</option>
                                        <option value="">Product27</option>
                                        <option value="">Product28</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Cost per page</td>
                            <td>

                            </td>
                            <td>
                                <span>12.99</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Number of pages</td>
                            <td>
                                <div class="question">
                                    <i class="fa fa-question"></i>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <select class="select-prod" name="">
                                        <option value="">Product29</option>
                                        <option value="">Product30</option>
                                        <option value="">Product31</option>
                                        <option value="">Product32</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>1-page summary of your paper</td>
                            <td>
                                <div class="question">
                                    <i class="fa fa-question"></i>
                                </div>
                            </td>
                            <td>
                                <label for="">
                                    <input type="checkbox">
                                    <span class="price">12.99</span>
                                    <span class="currency">USD</span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>Draft of your paper</td>
                            <td>
                                <div class="question">
                                    <i class="fa fa-question"></i>
                                </div>
                            </td>
                            <td>
                                <label for="">
                                    <input type="checkbox">
                                    <span class="price">12.99</span>
                                    <span class="currency">USD</span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>Speaker notes</td>
                            <td>
                                <div class="question">
                                    <i class="fa fa-question"></i>
                                </div>
                            </td>
                            <td>
                                <label for="">
                                    <input type="checkbox">
                                    <span class="price">12.99</span>
                                    <span class="currency">USD</span>
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>APA</td>
                            <td>

                            </td>
                            <td>
                                <div>
                                    <select class="select-prod" name="">
                                        <option value="">Product33</option>
                                        <option value="">Product34</option>
                                        <option value="">Product35</option>
                                        <option value="">Product36</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Number of sources / references <sup>&#10033;</sup></td>
                            <td>

                            </td>
                            <td>
                                <div class="radio">
                                    <label for="us">
                                        <input type="radio" checked id="us" value="0">
                                        <span>US writer</span>
                                    </label>
                                    <label for="us5">
                                        <input type="radio" id="us5" value="1">
                                        <span>UK writer (+5% to the order total)</span>
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Total without discount</td>
                            <td>

                            </td>
                            <td>
                                <span>12.99</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Your paper instructions <sup>&#10033;</sup></td>
                            <td>

                            </td>
                            <td>
                                <textarea name="name" rows="8" cols="80"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td>Attachment</td>
                            <td>

                            </td>
                            <td>
                                <div>
                                <a href="#" class="btn-large">Add file</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>

                            </td>
                            <td>
                                <div class="in-block">
                                    <label for="">
                                        <input type="checkbox" id="" value="0">
                                        <span>US writer</span>
                                    </label><br>
                                    <label for="" class="">
                                        <input type="checkbox" id="" value="1">
                                        <span>UK writer (+5% to the order total)</span>
                                    </label>
                                </div>

                            </td>
                        </tr>
                        <tr>
                            <td>Discount code</td>
                            <td>

                            </td>
                            <td>
                                <div>
                                    <input type="text">
                                    <a href="#" class="btn-large">Apply discount</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Speaker notes</td>
                            <td>
                                <div class="question">
                                    <i class="fa fa-question"></i>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input type="text">

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>

                            </td>
                            <td>
                                <a href="#" class="btn-large"><i class="fa fa-plus"></i>Add writer</a>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>

                            </td>
                            <td>
                                <p>Disclaimer: the service provided is meant to assist you by providing a guideline. The product provided is intended to be used for research or study purposes.</p>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>

                            </td>
                            <td>
                                <div>
                                    <p>Grand total price <span>20.46</span> <span>USD</span></p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <div>
                                <a href="#" class="btn-large">order now</a>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- container -->
    </section>


</main>
<!-- order form -->
