<main class="blog-wrapper">
    <div class="container-fluid" >
        <div class="container">

            <div class="articles">
                <div class="row">
                    <div class="col-md-10 col-md-offset-2">
                        <article class="post">
                            <div class="post__info">
                                <time class="post__date" datetime="2014-08-03" pubdate>
                                    <p class="post__month">AUG</p>
                                    <p class="post__day">3</p>
                                    <p class="post__year">2014</p>
                                </time>
                                <div class="post__comments">
                                    <p>12</p>
                                    <p>comments</p>
                                </div>
                                <div class="post__links hidden-sm hidden-xs">

                                    <div class="tag">
                                        <p class="tag__title">Categories:</p>
                                        <p class="tag__body">Essays, Writings</p>
                                    </div>

                                    <div class="tag">
                                        <p class="tag__title">Tegs:</p>
                                        <p class="tag__body">Essays, Writings</p>
                                    </div>

                                    <div class="social">
                                        <span class="social__title">Share:</span>
                                        <a href="#" class="social__link social__link--pn"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                        <a href="#" class="social__link social__link--tw"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        <a href="#" class="social__link social__link--fb"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                    </div>


                                </div>
                            </div>
                            <div class="post__image">
                                <img src="../img/blog.png" alt="">
                            </div>
                            <div class="post__author">
                                Posted by <strong>Sara brash</strong>
                            </div>
                            <h4 class="post__title">Lorem ipsum dolor sit amet</h4>
                            <div class="post__descr">

                                <p>Student years are the best time of one’s life. You are in the prime of your life and hopeful about the bright future ahead. This is the period that leaves the funniest photos, the sweetest memories, and gives you the most faithful friends. However, there is one thing that spoils all the fun – assignment writing. Have you ever struggled to write an essay or prepare a speech only to find that the deadline is getting closer, and the work is not ready yet? Are you desperate for someone to have your paper done? Ordering it online is a really convenient option, but you must be sure that the final product is worth the price. EssaysService.com is one of the leading online writing centers that deliver only premium quality essays, term papers, and research papers.
                                </p><p>
                                Once you place an order and provide all the necessary instructions, one of our writers will start working on it. Be sure we won’t choose a person to do your paper at random. The writer assigned will hold an academic degree in the respective area of expertise, which makes it possible for him/her to find the relevant information, carry out exhaustive research, and develop a comprehensible and well-organized document.
                            </p><p>
                                Student years are the best time of one’s life. You are in the prime of your life and hopeful about the bright future ahead. This is the period that leaves the funniest photos, the sweetest memories, and gives you the most faithful friends. However, there is one thing that spoils all the fun – assignment writing. Have you ever struggled to write an essay or prepare a speech only to find that the deadline is getting closer, and the work is not ready yet? Are you desperate for someone to have your paper done? Ordering it online is a really convenient option, but you must be sure that the final product is worth the price. EssaysService.com is one of the leading online writing centers that deliver only premium quality essays, term papers, and research papers.
                            </p><p>
                                Once you place an order and provide all the necessary instructions, one of our writers will start working on it. Be sure we won’t choose a person to do your paper at random. The writer assigned will hold an academic degree in the respective area of expertise, which makes it possible for him/her to find the relevant information, carry out exhaustive research, and develop a comprehensible and well-organized document.
                            </p><p>
                                Student years are the best time of one’s life. You are in the prime of your life and hopeful about the bright future ahead. This is the period that leaves the funniest photos, the sweetest memories, and gives you the most faithful friends. However, there is one thing that spoils all the fun – assignment writing. Have you ever struggled to write an essay or prepare a speech only to find that the deadline is getting closer, and the work is not ready yet? Are you desperate for someone to have your paper done? Ordering it online is a really convenient option, but you must be sure that the final product is worth the price. EssaysService.com is one of the leading online writing centers that deliver only premium quality essays, term papers, and research papers.
                            </p>

                            </div>

                        </article>

                        <section class="comments clearfix">
                            <h3>Comments</h3>
                            <div class="comment__wrapper">
                                <article class="comment">
                                    <div class="comment__avatar">
                                        <img src="img/ava.jpg" alt="">
                                    </div>
                                    <div class="comment__body">
                                        <header>
                                            <span class="comment__author">Megan</span>
                                            <time class="comment__date" datetime="2015-08-03">November 10, 2015 at 7:55 am</time>
                                        </header>
                                        <div class="comment__message">
                                            Student years are the best time of one’s life. You are in the prime of your life and hopeful about the bright future ahead. This is the period that leaves the funniest photos, the sweetest memories, and gives you the most faithful friends. However, there is one thing that spoils all the fun – assignment writing.
                                            <a href="#" class="comment__continue">Continue reading</a>
                                        </div>
                                        <footer>
                                            <a href="#" class="comment__reply">Reply</a>
                                            <a href="#" class="comment__like">13</a>
                                        </footer>
                                    </div>
                                </article>

                                <div class="comment__wrapper">
                                    <article class="comment">
                                        <div class="comment__avatar">
                                            <img src="img/ava.jpg" alt="">
                                        </div>
                                        <div class="comment__body">
                                            <header>
                                                <span class="comment__author">Megan</span>
                                                <time class="comment__date" datetime="2015-08-03">November 10, 2015 at 7:55 am</time>
                                            </header>
                                            <div class="comment__message">
                                                Student years are the best time of one’s life. You are in the prime of your life and hopeful about the bright future ahead. This is the period that leaves the funniest photos, the sweetest memories, and gives you the most faithful friends. However, there is one thing that spoils all the fun – assignment writing.
                                                <a href="#" class="comment__continue">Continue reading</a>
                                            </div>
                                            <footer>
                                                <a href="#" class="comment__reply">Reply</a>
                                                <a href="#" class="comment__like">13</a>
                                            </footer>
                                        </div>
                                    </article>

                                </div>
                            </div>
                            <div class="comment__wrapper">
                                <article class="comment">
                                    <div class="comment__avatar">
                                        <img src="img/ava.jpg" alt="">
                                    </div>
                                    <div class="comment__body">
                                        <header>
                                            <span class="comment__author">Megan</span>
                                            <time class="comment__date" datetime="2015-08-03">November 10, 2015 at 7:55 am</time>
                                        </header>
                                        <div class="comment__message">
                                            Student years are the best time of one’s life. You are in the prime of your life and hopeful about the bright future ahead. This is the period that leaves the funniest photos, the sweetest memories, and gives you the most faithful friends. However, there is one thing that spoils all the fun – assignment writing.
                                            <a href="#" class="comment__continue">Continue reading</a>
                                        </div>
                                        <footer>
                                            <a href="#" class="comment__reply">Reply</a>
                                            <a href="#" class="comment__like">13</a>
                                        </footer>
                                    </div>
                                </article>
                            </div>
                            <div class="comment__wrapper">
                                <article class="comment">
                                    <div class="comment__avatar">
                                        <img src="img/ava.jpg" alt="">
                                    </div>
                                    <div class="comment__body">
                                        <header>
                                            <span class="comment__author">Megan</span>
                                            <time class="comment__date" datetime="2015-08-03">November 10, 2015 at 7:55 am</time>
                                        </header>
                                        <div class="comment__message">
                                            Student years are the best time of one’s life. You are in the prime of your life and hopeful about the bright future ahead. This is the period that leaves the funniest photos, the sweetest memories, and gives you the most faithful friends. However, there is one thing that spoils all the fun – assignment writing.
                                            <a href="#" class="comment__continue">Continue reading</a>
                                        </div>
                                        <footer>
                                            <a href="#" class="comment__reply">Reply</a>
                                            <a href="#" class="comment__like">13</a>
                                        </footer>
                                    </div>
                                </article>
                            </div>
                            <div class="comment__wrapper">
                                <article class="comment">
                                    <div class="comment__avatar hidden-xs">
                                        <img src="img/ava.jpg" alt="">
                                    </div>
                                    <div class="comment__body">
                                        <header>
                                            <span class="comment__author">Megan</span>
                                            <time class="comment__date" datetime="2015-08-03">November 10, 2015 at 7:55 am</time>
                                        </header>
                                        <div class="comment__message">
                                            Student years are the best time of one’s life. You are in the prime of your life and hopeful about the bright future ahead. This is the period that leaves the funniest photos, the sweetest memories, and gives you the most faithful friends. However, there is one thing that spoils all the fun – assignment writing.
                                            <a href="#" class="comment__continue">Continue reading</a>
                                        </div>
                                        <footer>
                                            <a href="#" class="comment__reply">Reply</a>
                                            <a href="#" class="comment__like">13</a>
                                        </footer>
                                    </div>
                                </article>
                            </div>

                            <div class="links-wrapper">

                                <div class="pagination">
                                    <ul>
                                        <li><a href=""><i class="fa fa-angle-left"></i></a></li>
                                        <li><a href="" class="active">1</a></li>
                                        <li><a href="">2</a></li>
                                        <li><a href="">3</a></li>
                                        <li><a href="">4</a></li>
                                        <li><a href="">5</a></li>
                                        <li><a href="" class="dotted">...</a></li>
                                        <li><a href="">6</a></li>
                                        <li><a href=""><i class="fa fa-angle-right"></i></a></li>
                                    </ul>
                                </div>

                                <a href="#" class="btn post__btn">See all comments</a>
                            </div>
                        </section>
                        <div class="leave-comment">
                            <p class="leave-comment__title">Leave a reply</p>
                            <p class="leave-comment__notice">Your email address will not be published. Required fields are marked<sup>*</sup></p>

                            <form action="#" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Name<sup>*</sup></label>
                                            <input type="text" name="name" required value="">
                                        </div>
                                        <div class="form-group">
                                            <label>Email<sup>*</sup></label>
                                            <input type="email" name="email" required  value="">
                                        </div>
                                        <div class="form-group">
                                            <label>Name<sup>*</sup></label>
                                            <input type="text" name="name2" required  value="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Comments</label>
                                            <TEXTAREA required name="comment"></TEXTAREA>
                                        </div>
                                        <div class="form-group clearfix">
                                            <button type="submit" class="btn post__btn">Post comments</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>



            </div>

        </div>
    </div>
</main>