<main class="samples">
    <div class="container">
        <div class="sample">
        <div class="row">
            <div class="col-md-12">
                <div class="bg-title">Powerpoint Presentation</div>
            </div>
        </div>
        <div class="sample-content">
            <div class="row">
                <div class="col-md-3">
                    <div class="pdf">
                        <img src="../img/pdf.png" alt="">
                    </div>
                    <div><a href="#"  class="btno">order now</a></div>

                </div>
                <div class="col-md-9">
                    <table>
                        <tbody>
                        <tr>
                            <td>Topic</td>
                            <td>Business Ethic Behavior</td>
                        </tr>
                        <tr>
                            <td>Number of pages:  </td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>Urgency:  </td>
                            <td>7 days</td>
                        </tr>
                        <tr>
                            <td>Style:  </td>
                            <td>APA</td>
                        </tr>
                        <tr>
                            <td>Number of sourses:  </td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Academic level:  </td>
                            <td>High School</td>
                        </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
        <div class="sample-foot">
            <div class="row">
                <div class="col-md-3"><p class="p-min">You can order your custom written paper NOW  </p>
                    <p class="green">Prices from   <span class="red">$11.99/page</span></p></div>
                <div class="col-md-offset-2 col-md-7">
                    <div class="dis">
                        <span class="number">-10%</span>
                        <span class="num">discounts</span>
                    </div>
                    <div class="foot-desc"><p>Get <span class="red">20%</span> discount on the first order  </p></div>


                </div>

            </div>
        </div>




    </div>
        <!--SAMPLE-->
        <div class="sample">
            <div class="row">
                <div class="col-md-12">
                    <div class="bg-title">Powerpoint Presentation</div>
                </div>
            </div>
            <div class="sample-content">
                <div class="row">
                    <div class="col-md-3">
                        <div class="pdf">
                            <img src="../img/pdf.png" alt="">
                        </div>
                        <div><a href="#"  class="btno">order now</a></div>

                    </div>
                    <div class="col-md-9">
                        <table>
                            <tbody>
                            <tr>
                                <td>Topic</td>
                                <td>Business Ethic Behavior</td>
                            </tr>
                            <tr>
                                <td>Number of pages:  </td>
                                <td>6</td>
                            </tr>
                            <tr>
                                <td>Urgency:  </td>
                                <td>7 days</td>
                            </tr>
                            <tr>
                                <td>Style:  </td>
                                <td>APA</td>
                            </tr>
                            <tr>
                                <td>Number of sourses:  </td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Academic level:  </td>
                                <td>High School</td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
            <div class="sample-foot">
                <div class="row">
                    <div class="col-md-3"><p class="p-min">You can order your custom written paper NOW  </p>
                        <p class="green">Prices from   <span class="red">$11.99/page</span></p></div>
                    <div class="col-md-offset-2 col-md-7">
                        <div class="dis">
                            <span class="number">-10%</span>
                            <span class="num">discounts</span>
                        </div>
                        <div class="foot-desc"><p>Get <span class="red">20%</span> discount on the first order  </p></div>


                    </div>

                </div>
            </div>




        </div>
        <!--SAMPLE-->
        <div class="sample">
            <div class="row">
                <div class="col-md-12">
                    <div class="bg-title">Powerpoint Presentation</div>
                </div>
            </div>
            <div class="sample-content">
                <div class="row">
                    <div class="col-md-3">
                        <div class="pdf">
                            <img src="../img/pdf.png" alt="">
                        </div>
                        <div><a href="#"  class="btno">order now</a></div>

                    </div>
                    <div class="col-md-9">
                        <table>
                            <tbody>
                            <tr>
                                <td>Topic</td>
                                <td>Business Ethic Behavior</td>
                            </tr>
                            <tr>
                                <td>Number of pages:  </td>
                                <td>6</td>
                            </tr>
                            <tr>
                                <td>Urgency:  </td>
                                <td>7 days</td>
                            </tr>
                            <tr>
                                <td>Style:  </td>
                                <td>APA</td>
                            </tr>
                            <tr>
                                <td>Number of sourses:  </td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Academic level:  </td>
                                <td>High School</td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
            <div class="sample-foot">
                <div class="row">
                    <div class="col-md-3"><p class="p-min">You can order your custom written paper NOW  </p>
                        <p class="green">Prices from   <span class="red">$11.99/page</span></p></div>
                    <div class="col-md-offset-2 col-md-7">
                        <div class="dis">
                            <span class="number">-10%</span>
                            <span class="num">discounts</span>
                        </div>
                        <div class="foot-desc"><p>Get <span class="red">20%</span> discount on the first order  </p></div>


                    </div>

                </div>
            </div>




        </div>
        <!--SAMPLE-->
        <div class="sample">
            <div class="row">
                <div class="col-md-12">
                    <div class="bg-title">Powerpoint Presentation</div>
                </div>
            </div>
            <div class="sample-content">
                <div class="row">
                    <div class="col-md-3">
                        <div class="pdf">
                            <img src="../img/pdf.png" alt="">
                        </div>
                        <div><a href="#"  class="btno">order now</a></div>

                    </div>
                    <div class="col-md-9">
                        <table>
                            <tbody>
                            <tr>
                                <td>Topic</td>
                                <td>Business Ethic Behavior</td>
                            </tr>
                            <tr>
                                <td>Number of pages:  </td>
                                <td>6</td>
                            </tr>
                            <tr>
                                <td>Urgency:  </td>
                                <td>7 days</td>
                            </tr>
                            <tr>
                                <td>Style:  </td>
                                <td>APA</td>
                            </tr>
                            <tr>
                                <td>Number of sourses:  </td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Academic level:  </td>
                                <td>High School</td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
            <div class="sample-foot">
                <div class="row">
                    <div class="col-md-3"><p class="p-min">You can order your custom written paper NOW  </p>
                        <p class="green">Prices from   <span class="red">$11.99/page</span></p></div>
                    <div class="col-md-offset-2 col-md-7">
                        <div class="dis">
                            <span class="number">-10%</span>
                            <span class="num">discounts</span>
                        </div>
                        <div class="foot-desc"><p>Get <span class="red">20%</span> discount on the first order  </p></div>


                    </div>

                </div>
            </div>




        </div>
        <!--SAMPLE-->
        <div class="sample">
            <div class="row">
                <div class="col-md-12">
                    <div class="bg-title">Powerpoint Presentation</div>
                </div>
            </div>
            <div class="sample-content">
                <div class="row">
                    <div class="col-md-3">
                        <div class="pdf">
                            <img src="../img/pdf.png" alt="">
                        </div>
                        <div><a href="#"  class="btno">order now</a></div>

                    </div>
                    <div class="col-md-9">
                        <table>
                            <tbody>
                            <tr>
                                <td>Topic</td>
                                <td>Business Ethic Behavior</td>
                            </tr>
                            <tr>
                                <td>Number of pages:  </td>
                                <td>6</td>
                            </tr>
                            <tr>
                                <td>Urgency:  </td>
                                <td>7 days</td>
                            </tr>
                            <tr>
                                <td>Style:  </td>
                                <td>APA</td>
                            </tr>
                            <tr>
                                <td>Number of sourses:  </td>
                                <td>0</td>
                            </tr>
                            <tr>
                                <td>Academic level:  </td>
                                <td>High School</td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
            <div class="sample-foot">
                <div class="row">
                    <div class="col-md-3"><p class="p-min">You can order your custom written paper NOW  </p>
                        <p class="green">Prices from   <span class="red">$11.99/page</span></p></div>
                    <div class="col-md-offset-2 col-md-7">
                        <div class="dis">
                            <span class="number">-10%</span>
                            <span class="num">discounts</span>
                        </div>
                        <div class="foot-desc"><p>Get <span class="red">20%</span> discount on the first order  </p></div>


                    </div>

                </div>
            </div>




        </div>
        <!--SAMPLE-->
        <div class="col-xs-12 col-sm-12 col-md-12 ">

            <div class="links-wrapper">

                <div class="pagination">
                    <ul>
                        <li><a href=""><i class="fa fa-angle-left"></i></a></li>
                        <li><a href="" class="active">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">4</a></li>
                        <li><a href="">5</a></li>
                        <li><a href="" class="dotted">...</a></li>
                        <li><a href="">6</a></li>
                        <li><a href=""><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>


            </div>

        </div>
    </div>

</main>