<main class="testimonials">
    <div class="container-fluid">
    <div class="container">
    <div class="row">
        <h2 class="h2-title">What our customer says?</h2>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-10 ">

                    <div class="links-wrapper">

                        <div class="pagination">
                            <ul>
                                <li><a href=""><i class="fa fa-angle-left"></i></a></li>
                                <li><a href="" class="active">1</a></li>
                                <li><a href="">2</a></li>
                                <li><a href="">3</a></li>
                                <li><a href="">4</a></li>
                                <li><a href="">5</a></li>
                                <li><a href="" class="dotted">...</a></li>
                                <li><a href="">6</a></li>
                                <li><a href=""><i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </div>


                    </div>

                </div>
                <div class="col-md-2 col-sm-12 col-xs-12">
                    <a href="#" class="btn reply">Leave Reply</a>
                </div>
            </div>


        <div class="testimon">
            <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet assumenda dignissimos,
                impedit nihil possimus repellendus sapiente voluptas. Aspernatur deleniti ducimus eius laboriosam
                laborum libero, officia quas quibusdam quidem vitae.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut blanditiis consectetur consequatur culpa dolores
                dolorum eligendi eum hic illum laborum magnam maxime nesciunt pariatur, perspiciatis, placeat provident,
                quisquam rem voluptatum? <span class="t-author">Dr. Patricia Lolland, Houston, TX</span></div>

          </div>

        <div class="testimon">
            <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet assumenda dignissimos,
                impedit nihil possimus repellendus sapiente voluptas. Aspernatur deleniti ducimus eius laboriosam
                laborum libero, officia quas quibusdam quidem vitae.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut blanditiis consectetur consequatur culpa dolores
                dolorum eligendi eum hic illum laborum magnam maxime nesciunt pariatur, perspiciatis, placeat provident,
                quisquam rem voluptatum? <span class="t-author">Dr. Patricia Lolland, Houston, TX</span></div>

        </div>

        <div class="testimon">
            <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet assumenda dignissimos,
                impedit nihil possimus repellendus sapiente voluptas. Aspernatur deleniti ducimus eius laboriosam
                laborum libero, officia quas quibusdam quidem vitae.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut blanditiis consectetur consequatur culpa dolores
                dolorum eligendi eum hic illum laborum magnam maxime nesciunt pariatur, perspiciatis, placeat provident,
                quisquam rem voluptatum? <span class="t-author">Dr. Patricia Lolland, Houston, TX</span></div>

        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 ">

            <div class="links-wrapper">

                <div class="pagination">
                    <ul>
                        <li><a href=""><i class="fa fa-angle-left"></i></a></li>
                        <li><a href="" class="active">1</a></li>
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">4</a></li>
                        <li><a href="">5</a></li>
                        <li><a href="" class="dotted">...</a></li>
                        <li><a href="">6</a></li>
                        <li><a href=""><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>


            </div>

        </div>

        <div class="row">
            <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">



                <div class="list-block form-green hidden-sm hidden-xs">
                    <div class="bg-title">
                        Leave Your Reply
                    </div>
                    <div class="form-body">
                        <form action="#" method="post">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Your name</label>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <input type="text" name="name" required value="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Comments</label>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <textarea name="comments" required rows="4"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-sm-4">
                                    <div class="form-group">
                                        <label>Your mark</label>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-8">

                                    <div class="stars">
                                        <input type="radio" id="star5" name="rating" value="5" />
                                        <label for="star5" class="stars__icon"></label>

                                        <input type="radio" id="star4" name="rating" value="4" />
                                        <label for="star4" class="stars__icon"></label>

                                        <input type="radio" id="star3" name="rating" value="3" />
                                        <label for="star3" class="stars__icon"></label>

                                        <input type="radio" id="star2" name="rating" value="2" />
                                        <label for="star2" class="stars__icon"></label>

                                        <input type="radio" id="star1" name="rating" value="1" />
                                        <label for="star1" class="stars__icon"></label>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-8 col-md-4 ">
                                    <a href="#" class="btn-small"><i class="fa fa-angle-right"></i> Send</a>
                                </div>
                            </div>




                        </form>
                    </div>
                </div>


            </div>
        </div>

    </div>
    </div>
    </div>
</main>