// General button styles
$button-border: 1px solid #fff !default;
$button-background-focus: lighten($bgColorPrimaryLight, 4%) !default;
$button-font-size: 18px !default;
$button-icon-font-size: 2.5rem !default;
$button-padding:0px 10px 0px 10px  !default;
$lbutton-padding:0  7rem !default;
$button-height: 53px !default;
$button-radius: 3px !default;
//Small button
$sbtn-font-size:16px;
$sbtn-height: 31px !default;
$sbtn-padding:9px 40px 10px 40px  !default;
// Large buttons
$button-large-height: $button-height * 1.3 !default;

//  General button styles
.btn
{
  border: $button-border;
  border-radius: $button-radius;
  display: inline-block;
  height: $button-height;
  line-height: $button-height;
  padding: $button-padding;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}

// Shared icon styles
.btn,
.btn-large {
  font-size: $button-font-size;
  font-family:$font-semibold;
  outline: 0;

  i {
    font-size: $button-icon-font-size;
    line-height: inherit;
  }
}

//  focus button style
.btn{
  &:focus {
    background-color:$bgColorSecondary;
  }
}

// Button
.btn {
  text-decoration: none;
  color: $bgwhite;
  background-color: $bgColorPrimaryDark;
  text-align: center;
  letter-spacing: .5px;
  transition: .2s ease-out;
  cursor: pointer;

  &:hover {
    background-color: $bgColorSecondary;
    color: $bgwhite;

  }
}


//Btn small
//.small{
//  font-size:$sbtn-font-size;
//  font-family:$font-light;
//  height: $sbtn-height;
//  display: inline;
//  padding: $sbtn-padding;
//  text-decoration: none;
//  color: $bgwhite;
//  background-color: $bgColorPrimaryDark;
//  text-align: center;
//  letter-spacing: .5px;
//  transition: .2s ease-out;
//  cursor: pointer;
//  border: $button-border;
//  border-radius: $button-radius;
//  line-height: $button-height;
//  text-transform: uppercase;
//  vertical-align: middle;
//  -webkit-tap-highlight-color: transparent;
//
//}
//.small a:hover{
//  background-color: $bgColorSecondary;
//  color: $bgwhite;
//
//}

// Large button
.btn-large {
  @extend .btn;
  height:$button-large-height ;
  line-height:$button-large-height;
  background-color: $bgColorSecondary;
  padding:$lbutton-padding;
  i {
    font-size: $button-font-size;
  }
  &:hover {
    background-color: $bglhbutton;
    text-decoration: none;

  }
}



