$bgColorPrimaryDark:#496194;
$bgColorPrimaryLight:#86c1ea;
$bgColorSecondary:#e84c3d;
$bglhbutton:#fab916;
$bgFooter:#4e4e4e;
$bgTitle:#393939;
$bgText:#777777;
$bgPinterest:#e84c3d;
$bgTwitter:#28c3ff;
$bgFacebook:#496194;
$bgwhite:#fff;
$bgAd:#4e4e4e;
$bgabout:#eaedf2;
$black:#000;
$border:#ccc;
$test:#eaedf2;
