@font-face {
  font-family: 'montserratbold';
  src: url('../fonts/montserrat/bold/montserrat-bold-webfont.eot');
  src: url('../fonts/montserrat/bold/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserrat/bold/montserrat-bold-webfont.woff2') format('woff2'),
  url('../fonts/montserrat/bold/montserrat-bold-webfont.woff') format('woff'),
  url('../fonts/montserrat/bold/montserrat-bold-webfont.ttf') format('truetype'),
  url('../fonts/montserrat/bold/montserrat-bold-webfont.svg#montserratbold') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'montserratlight';
  src: url('../fonts/montserrat/light/montserrat-light-webfont.eot');
  src: url('../fonts/montserrat/light/montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserrat/light/montserrat-light-webfont.woff2') format('woff2'),
  url('../fonts/montserrat/light/montserrat-light-webfont.woff') format('woff'),
  url('../fonts/montserrat/light/montserrat-light-webfont.ttf') format('truetype'),
  url('../fonts/montserrat/light/montserrat-light-webfont.svg#montserratlight') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'montserratregular';
  src: url('../fonts/montserrat/regular/montserrat-regular-webfont.eot');
  src: url('../fonts/montserrat/regular/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserrat/regular/montserrat-regular-webfont.woff2') format('woff2'),
  url('../fonts/montserrat/regular/montserrat-regular-webfont.woff') format('woff'),
  url('../fonts/montserrat/regular/montserrat-regular-webfont.ttf') format('truetype'),
  url('../fonts/montserrat/regular/montserrat-regular-webfont.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;

}



@font-face {
  font-family: 'montserratsemibold';
  src: url('../fonts/montserrat/semibold/montserrat-semibold-webfont.eot');
  src: url('../fonts/montserratsemibold//montserrat-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/montserrat/semibold/montserrat-semibold-webfont.woff2') format('woff2'),
  url('../fonts/montserrat/semibold/montserrat-semibold-webfont.woff') format('woff'),
  url('../fonts/montserrat/semibold/montserrat-semibold-webfont.ttf') format('truetype'),
  url('../fonts/montserrat/semibold/montserrat-semibold-webfont.svg#montserratsemibold') format('svg');
  font-weight: normal;
  font-style: normal;

}






@font-face {
  font-family: "Fontawesome";
  src: url("../fonts/fontawesome/fontawesome-webfont.woff2") format("woff2"),
  url("../fonts/fontawesome/fontawesome-webfont.woff") format("woff"),
  url("../fonts/fontawesome/fontawesome-webfont.ttf") format("ttf"),
  url("../fonts/fontawesome/fontawesome-webfont.eot") format("eot"),
  url("../fonts/fontawesome/fontawesome-webfont.svg") format("svg");
}

$font-bold :'montserratbold';
$font-light:'montserratlight';
$font-regular:'montserratregular';
$font-semibold:'montserratsemibold';
$font-fontawesome:"Fontawesome";

@mixin font($font-size:14px,$color:$bgTitle,$font-weight:400,$font-family:$font-bold){
  font-size:$font-size;
  color:$color;
  font-weight:$font-weight;
  font-family:$font-family;
}