@media screen and(min-width:1199px){
   .burger{
     display:none;
   }
  .content{
    display:none;
  }

}
/* Medium devices (desktops, 992px and up) */
@media screen and(max-width:1199px)and(min-width:992px) {
  .menu{
      display:none;
       }
  .phones-up{
    display:none;

  }
  .navigation li:before{
    display:none;

  }
  a.ad{
    width:306px;
    height:162px;
  }
  a:hover.ad{
    width:306px;
    height:162px;
  }
  .bgboy{
    background-image: url(../img/boy.png);
    background-position: bottom -6px left;
    background-size: 488px 322px;
    background-repeat: no-repeat;
  }
  .boy-title{
    margin-top: 50px;
    font-size: 42px;
    float:right;
  }
  .bsub-title{
    float:right;
    font-size: 26px;
    margin-right:15%;
  }
  .bdes-title{
    float:right;
    margin-right:10%;
  }
  .bdescription{
    float:right;
    margin-right:8%;
  }
  .buttons{
    margin-right: 145px;
  }

  .chat{
    display:none;
  }
}

/* Small devices (mobile, 768px and up) */
@media screen and(max-width:991px)and(min-width:340px) {
  .phones-up {
    display: none;
  }
  .logo {
    img {
      width: 100%;
      height: auto;
    }
  }
  .head-nav{
    padding:20px;
  }
  .boy{
    background-repeat: no-repeat;
    background-image: url("../img/book_left.png"),
    url("../img/book_right.png");
    background-position: left bottom, right bottom;
    height:304px;
  }
  .bgboy{
    background-image:none;
  }
  .boy-title{
    margin:0;
    display: block;
    text-align: center;
    font-size:34px;
  }
  .bsub-title{
    margin-bottom:20px;
    margin-left:0;
    display: block;
    text-align: center;
    font-size:24px;

  }
  .buttons{
    margin:0;
    display: block;
    text-align: center;
    float:none;
  }
.content{
  width: 100%;
  li{
    width:100%;
  display: inline-block;
  text-align: center;

  }
}
  .navigation li:before{
    display:none;

  }
  .o-left{
    column-width:0;
    column-count: 0;
    column-gap:0;
  }
.rm-section{
  margin-bottom: 40px;
}
}

@media screen and(min-width:471px)and(max-width:991px) {
  .content {
    width: 100%;
    li {
      width: 100%;
      display: inline-block;
      text-align: center;
    }
  }
}