h1{
 @include font(36px,$bgTitle,400,$font-bold)
}

h2{
  @include font(36px,$bgTitle,400,$font-regular)
}

h3{
  @include font(30px,$bgTitle,400,$font-regular)
}

p{
  @include font(16px,$bgTitle,400,$font-light)
}

ul,li {
  list-style: none;
}

li:before{
  content:"\f105";
  font-family:$font-fontawesome;
  color:$bgColorSecondary;
  padding-right:5px;
  font-size:18px;
}

.h2-title{
  text-align: center;
}

.bgLiten{
  background-color: $bgColorPrimaryLight;}

.bg-title{
  text-align: center;
  background-color: $bgColorPrimaryDark;
  color:$bgwhite;
  padding: 15px 0px 15px 0px;
  font-size:24px;
  margin-bottom: 20px;
}

